.btn{
	.border-radius(4px);
	.transition(0.2s);
	.fp;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 33px;
	line-height: 33px;
	font-size: @fsp;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @gray;
	border-bottom: 3px solid fade(#000,15%);
	cursor: default;
	&:hover{
		background: darken(@gray,8%);
	}
	.two_lines {
		display: inline-block;
		line-height: 1.1;
		font-size: 12px;
		padding: 2px 0;
		white-space: normal;
	}
}
a,button,input[type=submit] {
	cursor: pointer!important;
}
.btn-green {
	background: @green;
	&:hover{
		background: darken(@green,8%);
	}
}
.btn-orange {
	background: @orange;
	&:hover{
		background: darken(@orange,8%);
	}
}
.btn-yellow {
	background: @yellow;
	&:hover{
		background: darken(@yellow,8%);
	}
}
.btn-red {
	background: @red;
	&:hover{
		background: darken(@red,8%);
	}
}
.btn-lightgreen {
	background: @lightgreen;
	&:hover{
		background: darken(@lightgreen,8%);
	}
}
.btn-lightgrey {
	background: @lightgrey;
	&:hover{
		background: darken(@lightgrey,8%);
	}
}
