// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Open Sans',sans-serif;} // font header
.fi {font-family: 'klubduch-icons',sans-serif;} // font icon

// body
@bb: #f8f8f9; // body background

// colors
@green: #48cfad;
@orange: #fc6e51;
@yellow: #ffce54;
@red: #de6e53;
@gray: #a4a9ae;
@grey: #a4a9ae;
@lightblue: #628cc3;
@lightgrey: #dbdbdb;
@lightgreen: #a7ddc5;
@cp: #5e5b5b; // color primary
@cl: @green; // color link
.text-green {
	color: @green;
}
.text-orange {
	color: @orange;
}
.text-gray {
	color: @gray;
}
.text-yellow {
	color: @yellow;
}

// font sizes
@fsp: 13px; // font size primary
@fsh1: 32px; // font size h1
@fsh2: 24px; // font size h2
@fsh3: 20px; // font size h3
@fsh4: 18px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 920px;
@content-padding: 20px;