label {
	display: block;
	font-weight: bold;
	margin: 0 0 5px;
}

input[type=text],input[type=date],input[type=datetime],input[type=email],input[type=number],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=password],select,textarea {
	.rin;
	.transition(0.2s);
	.border-radius(4px);
	.box-shadow(inset 0 3px 3px rgba(0,0,0,0.05));
	position: relative;
	border: 0;
	font-size: @fsp;
	margin: 0;
	height: 32px;
	width: 100%;
	padding: 3px 12px;
	color: @cp;
	background: lighten(@gray,28%);
	border: 1px solid lighten(@gray,20%);
	border-bottom-color: transparent;
	outline: 0;
	&:focus{
		background: lighten(@gray,22%);
		.placeholder(transparent);
	}
	&::selection {
		color: #fff;
		background:@orange;
	}
}
select[multiple] {
	height: inherit;
}
textarea {
	padding-top: 12px;
	padding-bottom: 12px;
	height: inherit;
}
button,input[type=submit] {
	.btn;
	.btn-green;
}

.fileinputs {
	position: relative;
	display: inline-block;
	.type-file {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
	.input-file-text {
		.border-radius(4px 0 0 4px);
		width: 50%;
	}
	.normal-button {
		.btn;
		.btn-yellow;
		.border-radius(0 4px 4px 0);
		width: 50%;
		padding: 0;
	}
}