body {
	//width: @content-width;
}
.overflow-hidden{
	overflow: hidden;
}
.equal_height {
	.clearfix;
}
.scrollbar {
	margin: 0 30px;
	padding: 0;
	height: 460px;
	overflow: auto;
	&::-webkit-scrollbar{
		width: 12px;
	}
	&::-webkit-scrollbar-thumb{
		.border-radius(4px);
		background-color: @green;
	}
	&::-webkit-scrollbar-thumb:hover{
		background-color: darken(@green,10%);
	}
	&::-webkit-scrollbar-track{
		background-color: #e3e4e8;
	}
}
.date_switcher {
	text-align: center;
	margin: 20px 0;
	mark {
		display: inline-block;
		color: @green;
		font-weight: bold;
		font-size: 15px;
		white-space: nowrap;
	}
	.prev,.next {
		float: left;
		width: 24px;
		white-space: nowrap;
		overflow: hidden;
		&:before{
			.fi;
			.border-radius(50%);
			display: inline-block;
			content: '\e826';
			width: 24px;
			height: 24px;
			line-height: 20px;
			font-size: 9px;
			color: lighten(@cp,30%);
			border: 2px solid lighten(@cp,30%);
		}
	}
	.next {
		float: right;
		&:before{
			content: '\e827';
		}
	}
	a.next,a.prev{
		&:before{
			color: @green;
			border-color: @green;
		}
		&:hover{
			&:before{
				color: darken(@green,10%);
				border-color: darken(@green,10%);
			}
		}
	}
}
#page-header-home,#page-header {
	position: relative;
	z-index: 999;
	padding: 13px 0 12px;
	background: #fff;
	background: fade(#fff,90%);
	border-bottom: 1px solid @green;
	.logo {
		float: left;
		a {
			display: block;
			width: 194px;
			height: 48px;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat;
			background-size: 100% 100%;
		}
	}
	.login {
		float: right;
		padding: 10px 0 5px;
		white-space: nowrap;
		vertical-align: top;
		.user,.pass {
			display: inline-block;
			position: relative;
			margin: 0 0 0 7px;
			vertical-align: top;
			&:before{
				.fi;
				content: '\e802';
				position: absolute;
				z-index: 1;
				left: 0;
				top: 0;
				width: 30px;
				text-align: center;
				font-size: 14px;
				line-height: 33px;
				color: lighten(@cp,35%);
			}
			input {
				position: relative;
				width: 160px;
				padding-left: 34px;
				font-weight: bold;
			}
		}
		.pass {
			&:before{
				content: '\e801';
			}
		}
		.submit {
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 8px;
			button {
				padding: 0 20px;
				&:before{
					position: relative;
					top: -1px;
					margin: 0 7px 0 0;
					content: '\203a';
				}
			}
		}
		.register {
			display: block;
			vertical-align: top;
			padding: 5px 0 0;
			text-align: right;
			white-space: normal;
			color: @green;
			p {
				margin: 0;
			}
			a {
				font-weight: bold;
			}
		}
	}
	.menu_header {
		float: right;
		padding: 17px 0 17px 17px;
		ul {
			.rul;
			li {
				.rli;
				float: left;
				font-size: 11px;
				margin: 0 0 0 10px;
				a {
					display: block;
					text-decoration: none;
					text-transform: lowercase;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	.menu_lang {
		float: right;
		padding: 13px 0;
		ul {
			.rul;
			li {
				.rli;
				float: left;
				margin: 0 0 0 10px;
				a {
					.transition(0.2s);
					display: block;
					width: 22px;
					height: 22px;
					line-height: 22px;
					font-size: 11px;
					text-decoration: none;
					border: 1px solid @green;
					text-transform: uppercase;
					text-align: center;
					background: #fff;
					&:hover{
						color: #fff;
						background: @green;
					}
				}
			}
		}
	}
}
#page-header {
	background: #48cfad;
	.logo {
		margin-left: 343px;
		a {
			background-image: url(../images/logo/02.png);
		}
	}
	.menu_header {
		ul {
			li {
				a {
					color: #fff;
				}
			}
		}
	}
	.menu_lang {
		ul {
			li {
				a {
					color: #fff;
					border: 1px solid #fff;
					background: none;
					&:hover{
						color: @green;
						background: #fff;
					}
				}
			}
		}
	}
}
#submenu {
	position: relative;
	z-index: 999;
	border-bottom: 1px solid #e7e7e7;
	background: #fff;
	.user {
		position: relative;
		float: left;
		font-size: 14px;
		line-height: 2.5;
		white-space: nowrap;
		a {
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: left;
			margin: -75px 12px 0 0;
			border-left: 1px solid #e7e7e7;
			border-right: 1px solid #e7e7e7;
		}
		.toggle {
			position: relative;
			display: inline-block;
			cursor: pointer;
			color: @green;
			&:before{
				.fi;
				.border-radius(50%);
				content: '\e82c';
				float: right;
				width: 18px;
				height: 18px;
				padding: 2px 0 0;
				margin: 9px 0 0 5px;
				line-height: 10px;
				text-align: center;
				color: lighten(@green,25%);
				border: 2px solid lighten(@green,25%);
			}
			&:hover{
				ul {
					display: block;
				}
			}
			ul {
				.rul;
				.border-radius(6px);
				position: absolute;
				top: 90%;
				right: 0;
				background: #ececf2;
				overflow: hidden;
				display: none;
				li {
					.rli;
					border-top: 1px solid #fff;
					&:first-child {
						border: none;
					}
					&.active {
						a {
							font-weight: bold;
						}
					}
					a {
						display: block;
						font-size: 13px;
						line-height: 1.2;
						white-space: nowrap;
						padding: 6px 30px 6px 10px;
						&:hover{
							text-decoration: none;
							background: fade(#000,5%);
						}
						&:after{
							.fi;
							.border-radius(50%);
							position: absolute;
							top: 5px;
							right: 6px;
							content: '\e829';
							width: 16px;
							height: 16px;
							padding: 2px 0 0;
							margin: 0 0 0 15px;
							line-height: 10px;
							text-align: center;
							font-weight: normal;
							color: @green;
							border: 1px solid @green;
						}
					}
				}
			}
		}
	}
	.menu_submenu {
		float: right;
		ul {
			.rul;
			li {
				.rli;
				float: left;
				font-size: 14px;
				line-height: 2.5;
				text-transform: lowercase;
				margin: 0 0 0 34px;
				white-space: nowrap;
				a {
					text-decoration: none;
					color: #888d94;
					&:hover{
						text-decoration: underline;
					}
				}
				&.active {
					a {
						color: @green;
					}
				}
			}
		}
	}
	&.mod_lector {
		.user {
			a {
				color: @red;
			}
			.toggle {
				color: @red;
				&:before{
					color: lighten(@red,25%);
					border-color: lighten(@red,25%);
				}
				ul {
					li {
						a {
							&:after{
								color: @red;
								border: 1px solid @red;
							}
						}
					}
				}
			}
		}
		.menu_submenu {
			ul {
				li {
					&.active {
						a {
							color: @red;
						}
					}
				}
			}
		}
	}
}
#wrapper {
	padding: 30px 0;
}
#page-bg-home {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.items {
		position: absolute!important;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.item {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-position: top;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		&:first-child {
			z-index: 1;
		}
		.content {
			color: #fff;
			text-shadow: 0 0 12px rgba(0,0,0,0.6);
			font-size: 38px;
			margin: 25% 0 0 0;
			text-align: right;
			p {
				margin: 0;
			}
			.author {
				font-size: 70%;
			}
		}
	}
}
// pagination
.pagination {
	margin: 40px 0;
	text-align: center;
	color: @green;
	font-size: 15px;
	.prev,.next {
		.border-radius(50%);
		.transition(0.2s);
		display: inline-block;
		width: 22px;
		height: 22px;
		line-height: 22px;
		margin: 0 10px -7px;
		color: #fff;
		text-align: center;
		text-decoration: none;
		overflow: hidden;
		white-space: nowrap;
		background: @green;
		&:hover{
			background: darken(@green,10%);
		}
		&:before{
			.fi;
			display: inline-block;
			width: 22px;
			font-size: 16px;
		}
	}
	.prev {
		&:before{
			content: '\e82f';
		}
	}
	.next {
		&:before{
			content: '\e830';
		}
	}
}
// mods
.mod_team {
	.items {
		.clearfix;
		text-align: center;
		margin: 30px 0 0;
		.item {
			display: inline-block;
			vertical-align: top;
			padding: 0 30px 30px;
			font-size: 13px;
			width: 28%;
			figure {
				margin: 0 0 17px;
				img {
					.border-radius(50%);
					.transition(0.2s);
					max-width: 100%;
					height: auto!important;
				}
				a {
					&:hover{
						img {
							.box-shadow(0 0 20px fade(#000,50%));
						}
					}
				}
			}
			h3 {
				font-size: 16px;
				margin: 0 0 4px;
			}
		}
	}
}
.hover-box {
	text-decoration: none;
	color: @cp;
	&:hover{
		.box_color {
			.box-shadow(0 0 20px fade(#000,20%));
		}
	}
}
.box_color {
	.border-radius(6px);
	.transition(0.2s);
	padding: 20px;
	background: #fff;
	margin: 0 0 20px;
	border-top: 3px solid lighten(@gray,25%);
	border-bottom: 3px solid lighten(@gray,25%);
	.title {
		text-align: center;
		font-size: 24px;
	}
	.titlebox {
		.clearfix;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 600;
		padding: 12px 16px;
		margin: -20px -20px 20px;
		border-bottom: 1px solid #e7e7e7;
		h1,h2,h3 {
			font-size: 18px;
			font-weight: 600;
			margin: 0;
		}
		&:before{
			.fi;
			.border-radius(50%);
			float: left;
			content: '\e800';
			height: 24px;
			width: 24px;
			line-height: 20px;
			font-size: 13px;
			margin: -3px 6px 0 0;
			text-align: center;
			border: 2px solid @cp;
			font-weight: normal;
		}
	}
	.more {
		margin: 45px 0 10px;
		text-align: center;
		a {
			.btn;
		}
	}
	.page_about & {
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 20px 20px;
		ul {
			.rul;
			margin: 15px 0 15px 0;
			li {
				.rli;
				font-weight: bold;
				padding: 0 0 0 25px;
				margin: 15px 0;
				line-height: 1.2;
				&:before{
					font-size: 13px;
					content: '\e800';
					color: @gray;
					top: 0;
				}
			}
		}
		&.box_color-green {
			ul {
				li {
					&:before{
						color: @green;
					}
				}
			}
		}
		&.box_color-orange {
			ul {
				li {
					&:before{
						color: @orange;
					}
				}
			}
		}
		&.box_color-yellow {
			ul {
				li {
					&:before{
						color: @yellow;
					}
				}
			}
		}
	}
}
.box_color-green {
	border-top-color: @green;
	.title {
		color: @green;
	}
	.titlebox {
		color: @green;
		* {
			color: @green;
		}
		&:before{
			border-color: @green;
		}
	}
	.more {
		a {
			.btn;
			.btn-green;
		}
	}
}
.box_color-orange {
	border-top-color: @orange;
	.title {
		color: @orange;
	}
	.titlebox {
		color: @orange;
		* {
			color: @orange;
		}
		&:before{
			border-color: @orange;
		}
	}
	.more {
		a {
			.btn;
			.btn-orange;
		}
	}
}
.box_color-yellow {
	border-top-color: @yellow;
	.title {
		color: @yellow;
	}
	.titlebox {
		color: @yellow;
		* {
			color: @yellow;
		}
		&:before{
			border-color: @yellow;
		}
	}
	.more {
		a {
			.btn;
			.btn-yellow;
		}
	}
}
.box_news, .box_info, .box_lektor-info {
	.box_color;
	.box_color-green;
	.titlebox {
		border-bottom: 0;
		text-align: left;
		margin-bottom: 10px;
		&:before{
			content: '\e806';
		}
	}
	.item {
		.clearfix;
		.border-radius(4px);
		margin: 0 -10px 10px;
		padding: 11px 8px;
		background: #f5f5f6;
		font-size: 11px;
		line-height: 1.3;
		figure {
			float: left;
			width: 26.5%;
			img {
				display: block;
			}
		}
		.content {
			margin: 0 0 0 31.5%;
		}
		h3 {
			color: @green;
			font-weight: bold;
			font-size: 12px;
			margin: 0 0 5px;
		}
		p {
			margin: 0 0 3px;
		}
	}
	.more {
		margin: 40px -10px 20px;
		a {
			.btn;
			.btn-green;
			min-width: 110px;
		}
	}
}
.box_info, .box_lektor-info {
	.titlebox {
		&:before{
			content: '\e821';
		}
	}
}
.box_lektor-info {
	.box_color-orange;
	.titlebox {
		border-color: @orange;
	}
	a {
		color: @orange;
	}
}
.box_steps,.box_lector_steps {
	.box_color;
	.box_color-green;
	padding: 12px 15px;
	.title {
		text-align: left;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 600;
		margin: 0 0 20px;
		color: @green;
	}
	.items {
		.item {
			position: relative;
			padding: 0 0 0 38px;
			height: 80px;
			font-size: 12px;
			.num {
				.border-radius(50%);
				position: absolute;
				top: 0;
				left: 0;
				width: 30px;
				height: 30px;
				line-height: 26px;
				font-size: 20px;
				color: @gray;
				font-weight: bold;
				text-align: center;
				border: 2px solid @gray;
				background: #fff;
			}
			.item-title {
				font-size: 18px;
				color: @gray;
				a {
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			p {
				margin: 0 0 3px;
			}
			.button {
				a,span {
					.btn;
					font-size: 11px;
					height: 20px;
					line-height: 20px;
					padding: 0 14px;
					cursor: default;
					border-bottom-width: 2px;
				}
				a {
					.btn-green;
					cursor: pointer;
				}
			}
			&.active {
				&:before{
					position: absolute;
					content: '';
					left: 15px;
					bottom: 100%;
					height: 50px;
					border-left: 1px dashed @green;
				}
				&:first-child {
					&:before{
						display: none;
					}
				}
				.num {
					color: @green;
					border-color: @green;
				}
				.item-title {
					color: @green;
				}
			}
			&.highlight {
				.num {
					color: @orange;
					border-color: @orange;
				}
				.item-title {
					color: @orange;
					a {
						color: @orange;
					}
				}
				.button {
					a {
						.btn-orange;
					}
				}
			}
		}
	}
}
.box_lector_steps {
	.box_color-orange;
	.title {
		color: @orange;
	}
	.items {
		.item {
			a {
				color: @orange;
			}
			.button {
				a {
					.btn-orange;
				}
			}
			&.active {
				&:before{
					border-left: 1px dashed @orange;
				}
				.num {
					color: @orange;
					border-color: @orange;
				}
				.item-title {
					color: @orange;
				}
			}
			&.highlight {
				.num {
					color: @green;
					border-color: @green;
				}
				.item-title {
					color: @green;
					a {
						color: @green;
					}
				}
				.button {
					a {
						.btn-green;
					}
				}
			}
		}
	}
}
.mod_contacts {
	.item {
		.clearfix;
		margin: 20px 0;
		padding: 20px 10px 0 30px;
		border-top: 1px solid #e7e7e7;
		font-size: 14px;
		figure {
			width: 24%;
			float: left;
			img {
				.border-radius(50%);
				display: block;
			}
		}
		.content {
			margin: 0 0 0 33%;
			h2 {
				font-size: 18px;
				font-weight: bold;
				margin: 0;
			}
		}
		.media {
			.rul;
			float: right;
			li {
				.rli;
				float: left;
				font-size: 20px;
				line-height: 1;
				margin: 0 0 0 3px;
				a {
					text-decoration: none;
				}
				[class^='icon'] {
					&:before{
						margin: 0;
					}
				}
				.icon-facebook-rect {
					color: #3b5998;
				}
				.icon-twitter-bird {
					color: #32cdfd;
				}
				.icon-googleplus-rect {
					color: #dc4a38;
				}
				.icon-linkedin-rect {
					color: #0274b3;
				}
				.icon-skype {
					color: #00aff0;
				}				
			}
		}
		.lang {
			float: right;
			.rul;
			margin: 0 5px 0 0;
			li {
				.rli;
				.border-radius(3px);
				float: left;
				color: #fff;
				background: @gray;
				width: 20px;
				height: 20px;
				line-height: 20px;
				font-size: 11px;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				margin: 0 0 0 3px;
			}
		}
		.contacts {
			.rul;
			margin: 15px 0 20px;
			li {
				.rli;
				padding: 0 0 0 35px;
				margin: 16px 0;
				color: @green;
				font-size: 16px;
				line-height: 1.2;
				a {
					text-decoration: none;
				}
				&.phone,&.email {
					&:before{
						.border-radius(50%);
						width: 26px;
						height: 26px;
						line-height: 26px;
						background: @green;
						color: #fff;
						top: -3px;
						font-size: 13px;
						text-align: center;
					}
				}
				&.phone {
					&:before{
						content: '\e812';
					}
				}
				&.email {
					&:before{
						content: '\e813';
					}
				}
			}
		}
		.quote {
			font-size: 13px;
		}
	}
}
.mod_courses,.mod_news {
	.box_color;
	.box_color-green;
	padding-bottom: 2px;
	.titlebox {
		.clearfix;
		&:before{
			content: '\e822';
			line-height: 1;
			padding-top: 4px;
		}
	}
	.info {
		margin: 40px 10%;
		text-align: center;
		[class^="icon-"] {
			font-size: 20px;
			color: @green;
		}
	}
	.item {
		.clearfix;
		padding: 23px 0 17px;
		line-height: 1.6;
		border-top: 1px solid #e6e6e6;
		&:nth-child(1) {
			border-top: none;
		}
		.image {
			padding: 6px 0;
			float: left;
			width: 33.33333%;
			img {
				display: block;
				margin: 0 0 19px;
			}
			.name {
				a {
					.transition(0.2s);
					position: relative;
					display: block;
					color: @cp;
					text-decoration: none;
					font-size: 11px;
					font-weight: bold;
					background: #f5f5f6;
					padding: 6px 10px 6px 30px;
					&:hover{
						background: darken(#f5f5f6,5%);
					}
					&:before{
						.fi;
						position: absolute;
						top: 7px;
						left: 10px;
						content: '\e802';
						color: @green;
						font-weight: normal;
						font-size: 12px;
					}
				}
			}
		}
		.content {
			float: right;
			width: 62.6%;
			.share {
				float: right;
				margin: 3px 0 3px 10px;
				a {
					.border-radius(3px);
					.transition(0.2s);
					display: inline-block;
					font-size: 10px;
					font-weight: bold;
					text-decoration: none;
					padding: 2px 5px;
					color: #fff;
					background: #676565;
					&:hover{
						background: lighten(#676565,10%);
					}
				}
			}
			h2 {
				font-size: 20px;
				color: @green;
				margin: 0;
				a {
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			.term {
				font-size: 14px;
				color: @green;
				mark {
					color: @green;
					font-size: 18px;
					font-weight: bold;
				}
			}
			p {
				margin: 20px 0 0;
			}
			.buttons {
				padding: 18px 0 0;
				text-align: right;
			}
		}
	}
	.pagination {
		margin: 100px 0 40px;
	}
}
.mod_news {
	.item {
		.image {
			width: 25%;
			img {
				margin-bottom: 10px;
			}
		}
		.content {
			float: right;
			width: 71%;
			h2 {
				font-size: 20px;
				color: @green;
				margin: 0;
			}
			.term {
				font-size: 14px;
				color: @green;
			}
			p {
				margin: 20px 0 0;
			}
			.buttons {
				padding: 18px 0 0;
				text-align: right;
				a,span {
					.btn;
					&.login {
						.btn-green;
					}
					&.file {
						.btn-yellow;
					}
				}
				span {
					cursor: not-allowed;
					&:hover{
						background: @gray;
					}
				}
			}
		}
	}
}
.mod_carpool {
	.box_color;
	.box_color-green;
	.titlebox {
		.clearfix;
		&:before{
			content: '\e828';
			font-size: 10px;
		}
	}
	.spec_selector {
		width: 60%;
		margin: 0 0 20px;
		.selector {
			.caret {
				background: @green;
			}
		}
	}
	.box_carpool_cal {
		.box_color;
		.box_color-orange;
		margin: 0 0 40px;
		background: #f9f9f9;
		.box-title {
			.clearfix;
			font-weight: bold;
			font-size: 18px;
			line-height: 1.2;
			margin: 0 0 10px;
			input {
				float: right;
				margin: 0 15% 0 0;
			}
			[class^="icon-"] {
				margin: 0 10px 0 0;
				color: #dbdbdb;
				font-weight: normal;
			}
			.checker {
				.checked {
					&:before{
						color: @orange;
					}
				}
				&.disabled {
					.checked {
						&:before{
							color: inherit;
						}
					}
				}
			}
		}
		input[type=text] {
			.box-shadow(none);
			background: #fff;
			border-color: #d5d5d5;
			&.input-mini {
				width: 32px;
				padding: 0;
				text-align: center;
				margin-left: 7px;
			}
			&.input-small {
				width: 70px;
				margin-right: 7px;
			}
		}
		.form-row {
			.clearfix;
			margin: 0 0 10px;
			label {
				font-weight: normal;
				float: left;
				width: 20%;
				padding: 4px 10px 0 0;
			}
			.content {
				float: left;
				width: 65%;
			}
			.icon {
				float: left;
				width: 15%;
				font-size: 22px;
				color: #a3a3a3;
			}
		}
		.reset {
			text-align: center;
			padding: 20px 0 0;
			a {
				.border-radius(4px);
				.transition(0.2s);
				position: relative;
				display: inline-block;
				color: #fff;
				text-decoration: none;
				font-weight: bold;
				padding: 3px 12px;
				background: @orange;
				font-size: 12px;
				&:before{
					.transition(0.2s);
					position: absolute;
					content: '';
					left: 50%;
					bottom: 100%;
					margin-left: -14px;
					border: 14px solid transparent;
					border-top-width: 0;
					border-bottom-width: 7px;
					border-bottom-color: @orange;
				}
				&:hover{
					background: darken(@orange,10%);
					&:before{
						border-bottom-color: darken(@orange,10%);
					}
				}
			}
		}
	}
	.list_members {
		margin: 0 -20px;
		padding: 40px 20px 20px;
		border-top: 1px solid #e6e6e6;
		.list-title {
			font-size: 18px;
			line-height: 1.2;
			font-weight: 600;
			margin: 0 0 30px;
			color: @orange;
		}
	}
	.box_carpool_mem {
		margin: 0 0 40px;
		.box-title {
			.clearfix;
			font-weight: 600;
			font-size: 18px;
			line-height: 1.2;
			margin: 0 0 10px;
			[class^="icon-"] {
				float: left;
				width: 15%;
				padding: 0 10px 0 0;
				color: #dbdbdb;
				font-weight: normal;
			}
			.content {
				width: 42%;
				float: left;
			}
			.label {
				float: left;
				padding: 5px 0 0;
				font-size: 12px;
			}
		}
		.items {
			height: 215px;
			overflow: auto;
			.item {
				.clearfix;
				padding: 5px 0;
				border-bottom: 1px solid #dbdcde;
				&:nth-child(odd) {
					background: #f9f9f9;
				}
				&:nth-child(1) {
					border-top: 1px solid #dbdcde;
				}
				.img {
					float: left;
					width: 17%;
					padding: 0 10px 0 0;
				}
				.content {
					width: 50%;
					float: left;
					.name {
						font-weight: bold;
					}
				}
				.checkbox {
					padding: 3px 0 0;
					width: 33%;
					float: left;
					input {
						margin-right: 7px;
					}
					.label {
						.btn;
						.btn-red;
						font-size: 11px;
						padding: 0 8px;
						height: 20px;
						line-height: 20px;
					}
					.checker {
						.checked {
							&:before{
								color: @orange;
							}
						}
						&.disabled {
							.checked {
								&:before{
									color: inherit;
								}
							}
						}
					}
				}
			}
		}
	}
	.mod_request,.mod_offer {
		.box_color;
		margin: 20px 10px 165px;
		padding: 45px 20px 30px;
		text-align: center;
		nav {
			margin: 38px 0;
			a {
				.btn;
				line-height: 54px;
				height: 54px;
				padding: 0 45px;
				font-size: 15px;
			}
		}
	}
	.mod_request {
		.box_color-green;
		background: lighten(@green,40%);
		h2 {
			color: @green;
		}
		nav {
			a {
				.btn-green;
			}
		}
	}
	.mod_offer {
		.box_color-orange;
		background: lighten(@orange,32%);
		h2 {
			color: @orange;
		}
		nav {
			a {
				.btn-orange;
			}
		}
	}
	.box_carpool_user {
		.box_color;
		.box_color-green;
		padding: 12px 20px;
		margin: 15px 0 20px;
		background: #f9f9f9;
		.box-title {
			font-weight: bold;
			margin: 0 0 15px;
			[class^="icon-"] {
				margin: 0 8px 0 0;
				color: @lightgrey;
			}
		}
		.user {
			.clearfix;
			margin: 0 0 10px;
			.figure {
				float: left;
				width: 33.3333%;
				img {
					.border-radius(50%);
				}
			}
			.content {
				width: 56%;
				float: right;
				h2 {
					font-size: 14px;
					margin: 0 0 22px;
				}
				.phone,.email {
					position: relative;
					font-size: 12px;
					padding: 0 0 0 26px;
					margin: 0 0 12px;
					color: @green;
					&:before{
						.fi;
						.border-radius(50%);
						position: absolute;
						left: 0;
						top: -2px;
						width: 18px;
						height: 18px;
						line-height: 18px;
						text-align: center;
						color: #fff;
						font-size: 11px;
						background: @green;
					}
				}
				.phone {
					&:before{
						content: '\e812';
					}
				}
				.email {
					&:before{
						content: '\e813';
					}
				}
			}
		}
		.data {
			table {
				margin: 2px 0;
				th,td {
					position: relative;
					background: none;
					border: 0;
					font-size: 11px;
					padding: 7px 0 7px 10px;
					color: @gray;
					vertical-align: top;
				}
				td {
					color: @green;
					padding-left: 30px;
					[class^="icon"] {
						position: absolute;
						left: 0;
						top: 4px;
						color: @gray;
						font-size: 18px;
					}
					em {
						color: @gray;
					}
				}
				tr:nth-child(even) {
					th,td {
						background: #fff;
					}
				}
			}
		}
		.reset {
			text-align: center;
			padding: 20px 0 0;
			a {
				.border-radius(4px);
				.transition(0.2s);
				position: relative;
				display: inline-block;
				color: #fff;
				text-decoration: none;
				font-weight: bold;
				padding: 3px 12px;
				background: @orange;
				font-size: 12px;
				&:before{
					.transition(0.2s);
					position: absolute;
					content: '';
					left: 50%;
					bottom: 100%;
					margin-left: -14px;
					border: 14px solid transparent;
					border-top-width: 0;
					border-bottom-width: 7px;
					border-bottom-color: @orange;
				}
				&:hover{
					background: darken(@orange,10%);
					&:before{
						border-bottom-color: darken(@orange,10%);
					}
				}
			}
		}
	}
	.map_canvas {
		margin: 15px -20px 0;
		padding: 24px 20px;
		border-top: 1px solid #e6e6e6;
		#map-canvas {
			height: 270px;
		}
	}
	.list_carpool_members {
		margin: 10px -20px 0;
		padding: 30px 30px;
		border-top: 1px solid #e6e6e6;
		.list-title {
			font-size: 14px;
			line-height: 1.2;
			font-weight: 600;
			margin: 0 0 14px;
			color: @green;
			[class^="icon-"] {
				color: #dbdbdb;
			}
		}
		table {
			th,td {
				border: 0;
				background: none;
				padding: 1px 5px;
				font-size: 12px;
				vertical-align: top;
				&.image {
					width: 9%;
				}
				&.direction {
					color: @gray;
					font-size: 9px;
				}
			}
			tr {
				&.highlight {
					th,td {
						background: #f9f9f9;
					}
				}
				&:nth-child(odd) {
					th,td {
						padding-top: 10px;
					}
				}
				&:nth-child(even) {
					th,td {
						padding-bottom: 10px;
						border-bottom: 1px solid #d1d1d1;
					}
				}
				[rowspan="2"] {
					border-bottom: 1px solid #d1d1d1;
				}
			}
		}
	}
}
.mod_user_acommodation, .mod_user_food {
	.box_color;
	.box_color-green;
	.titlebox {
		.clearfix;
		&:before{
			content: '\e842';
		}
	}
	.address {
		margin: 0 0 20px;
		mark {
			font-size: 20px;
		}
	}
	.logo {
		float: left;
		width: 26.017%;
		padding: 0 20px 0 0;
	}
	.content {
		float: left;
		width: 73.883%;
		.highlight {
			.clearfix;
			margin: 0 0 10px;
			background: #f5f5f6;
			p {
				margin: 10px;
			}
		}
		.credits {
			margin: 0 0 10px;
			mark {
				color: @red;
				margin: 0 10px;
			}
		}
		.confirm {
			label {
				font-weight: normal;
				.checker {
					margin: 0 0 0 5px;
				}
			}
		}
	}
	.more {
		margin: 160px 0 0;
		a {
			.btn;
			.btn-green;
			padding: 0 30px;
		}
	}
}
.mod_user_food {
	.titlebox {
		&:before{
			content: '\e843';
			font-size: 16px;
		}
	}
}
.mod_user_carpool {
	.box_color;
	.box_color-green;
	.titlebox {
		.clearfix;
		&:before{
			content: '\e828';
		}
	}
	.header {
		.clearfix;
		margin: 0 0 50px;
		.spec_selector {
			width: 40%;
			float: left;
		}
		.check {
			float: right;
			width: 60%;
			padding: 5px 0 0 20px;
			text-align: right;
			font-weight: normal;
			.checker {
				margin: 0 0 0 5px;
			}
		}
	}
	.title {
		text-align: left;
		font-size: 16px;
		margin: 0 0 10px;
	}
	.content {
		margin: 0 -20px;
		padding: 20px;
		border-top: 1px solid #e7e7e7;
	}
	.table {
		table {
			tbody {
				tr {
					th,td {
						border: 0;
						&:nth-child(1), &:nth-child(2) {
							border-bottom: 1px solid #d1d1d1;
						}
						&.image {
							width: 13%;
						}
						&.checkbox {
							.checker {
								span.checked {
									&:before{
										font-size: 16px;
										content: '\e836';
									}
								}
							}
						}
					}
					&:nth-child(even) {
						th,td {
							border-bottom: 1px solid #d1d1d1;
						}
					}
					&.highlight {
						th,td {
							background: #f9f9f9;
						}
					}
				}
			}
			&.disabled {
				tbody {
					tr {
						th, td {
							background: #e0e0e0;
						}
					}
				}
			}
		}
	}
	.subtitle {
		margin: 0 0 10px;
	}
}
.spec_selector {
	.selector {
		position: relative;
		width: auto!important;
		.inner {
			.border-radius(4px);
			display: block;
			width: auto!important;
			margin: 0 37px 0 0;
			background: #f5f5f6;
			border-bottom: 2px solid fade(#000,5%);
			span {
				position: relative;
				display: block;
				line-height: 32px;
				margin: 0 15px;
				width: auto!important;
				overflow: hidden;
				white-space: nowrap;
			}
		}
		.caret {
			.border-radius(4px);
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 32px;
			background: @orange;
			border-bottom: 2px solid fade(#000,5%);
			&:before{
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				margin-top: -3px;
				margin-left: -10px;
				border: 10px solid transparent;
				border-top-color: #fff;
			}
		}
		select {
			margin: 0;
			padding: 0;
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter:alpha(opacity=0);
		}
	}
}
.mod_tastimonial {
	.clearfix;
	margin: 35px 0 60px;
	.image {
		position: relative;
		float: left;
		width: 21%;
		text-align: right;
		&:before{
			.fi;
			.border-radius(50%);
			content: '\e810';
			position: absolute;
			z-index: 1;
			right: -22px;
			bottom: -18px;
			width: 44px;
			height: 44px;
			line-height: 44px;
			font-size: 20px;
			text-align: center;
			color: #fff;
			background: #a9a9a9;
		}
		&:after{
			position: absolute;
			bottom: 10px;
			right: -13px;
			content: '';
			border: 10px solid transparent;
			border-left-width: 20px;
			border-left-color: #a9a9a9;
		}
		a {
			float: right;
		}
		img {
			.border-radius(50%);
			display: block;
			margin: 0 0 0 auto;
		}
	}
	.content {
		float: right;
		width: 73%;
		font-size: 15px;
		p {
			margin: 20px 0 0;
		}
		.author {
			color: @green;
			font-size: 12px;
			margin: 5px 0;
		}
	}
}
.mod_credits {
	.box_color;
	.box_color-green;
	.titlebox {
		&:before{
			content: '\e807';
		}
	}
	.status {
		padding: 17px 0 20px;
		text-align: center;
		font-size: 12px;
		font-weight: 600;
		h2 {
			font-size:	15px;
			font-weight: bold;
			margin: 0;
		}
		.price {
			display: inline-block;
			font-size: 32px;
			color: @green;
			font-weight: bold;
			margin: 0 0 14px;
			cursor: default;
		}
		mark {
			color: @green;
			font-weight: 700;
		}
		.separator {
			margin: 0 5px;
		}
	}
	.buttons {
		margin: 0 20% 35px;
		text-align: center;
		.btn {
			padding: 0 35px;
			margin: 0 3px;
		}
	}
	.export {
		float: right;
		font-size: 12px;
		margin: 9px 40px 0 -50px;
		a {
			color: #c5c9ce;
			text-decoration: none;
			&:before{
				.fi;
				float: right;
				content: '\e80b';
				margin: 0 0 0 6px;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.table_items {
		.box_color;
		.box_color-green;
		.scrollbar;
		margin: 0 30px 30px;
		padding: 0;
		height: 460px;
		overflow: auto;
		table {
			th,td {
				padding: 19px 15px 18px;
				font-size: 12px;
			}
			thead {
				th,td {
					padding-top: 7px;
					padding-bottom: 5px;
				}
			}
		}
	}
	.date_switcher {
		margin: 0 20% 30px;
	}
}
.mod_credit_transfer {
	.box_color;
	.box_color-green;
	min-height: 800px;
	.titlebox {
		&:before{
			content: '\e807';
		}
	}
	h3 {
		color: @green;
	}
	.credits {
		.box_color;
		.box_color-green;
		border-left: 1px solid #e7e7e7;
		border-right: 1px solid #e7e7e7;
		padding: 0 10px;
		margin: 35px 20% 28px;
		.row {
			&:nth-child(even) {
				background: #f5f5f6;
			}
		}
		.label {
			padding: 20px 10px 20px 24px;
			width: 33.3333%;
			float: left;
			font-size: 11px;
			font-weight: bold;
			color: #8e9397;
		}
		input {
			width: 60%;
			background: none;
			margin-right: 5px;
			font-size: 16px;
			font-weight: 600;
			color: @green;
		}
		.num {
			padding: 15px 10px 15px 0;
			width: 66.6666%;
			float: left;
			font-size: 16px;
			font-weight: 600;
			color: @green;
		}
	}
	.submit {
		text-align: center;
		a {
			.btn;
			.btn-red;
		}
	}
}
.mod_lecturers {
	.box_color;
	.box_color-green;
	.titlebox {
		margin-bottom: 0;
		&:before{
			content: '\e802';
		}
	}
	.items {
		margin: 0 -20px;
		.item {
			.clearfix;
			padding: 20px 25px 3px;
			border-top: 1px solid #e7e7e7;
			&:nth-child(1) {
				border-top: none;
			}
			figure {
				float: left;
				width: 18.8%;
				margin: 4px 0;
			}
			.header {
				.clearfix;
				.subscribe {
					float: right;
					margin: -10px 0 0 7px;
					text-align: center;
					label {
						font-size: 10px;
						font-weight: normal;
						margin: 0;
					}
				}
				ul {
					.rul;
					.clearfix;
					float: right;
					margin: 4px 0;
					li {
						.rli;
						float: left;
						margin: 0 0 0 8px;
						a {
							.btn;
							font-size: 9px;
							height: 20px;
							line-height: 20px;
							padding: 0 8px;
							border-bottom: none;
						}
						&.recommend {
							a {
								.btn-green;
							}
						}
						&.facebook {
							a {
								background: #3b78c1;
								width: 20px;
								overflow: hidden;
								padding: 0;
								&:hover{
									background: darken(#3b78c1,10%);
								}
								&:before{
									.fi;
									width: 20px;
									font-weight: normal;
									font-size: 14px;
									display: inline-block;
									content: '\e820';
								}
							}
						}
					}
				}
			}
			.content {
				float: right;
				width: 76.2%;
				font-size: 12px;
				line-height: 1.5;
				h2 {
					font-size: 15px;
					font-weight: bold;
					margin: 0 0 5px;
				}
			}
		}
	}
}
.mod_lecturers-detail {
	.box_color;
	.box_color-green;
	.titlebox {
		&:before{
			content: '\e802';
		}
	}
	figure {
		float: left;
		width: 33.3333%;
	}
	.content {
		float: right;
		width: 60%;
		.subscribe {
			float: right;
			margin: -10px 0 0 7px;
			text-align: center;
			label {
				font-size: 10px;
				font-weight: normal;
				margin: 0;
			}
		}
		.content-title {
			font-size: 16px;
		}
	}
	.menu {
		.rul;
		.clearfix;
		margin: 0 0 20px;
		li {
			.rli;
			float: left;
			margin: 0 0 0 8px;
			a {
				.btn;
				font-size: 9px;
				height: 20px;
				line-height: 20px;
				padding: 0 8px;
				border-bottom: none;
			}
			&.recommend {
				a {
					.btn-green;
				}
			}
			&.facebook {
				a {
					background: #3b78c1;
					width: 20px;
					overflow: hidden;
					padding: 0;
					&:hover{
						background: darken(#3b78c1,10%);
					}
					&:before{
						.fi;
						width: 20px;
						font-weight: normal;
						font-size: 14px;
						display: inline-block;
						content: '\e820';
					}
				}
			}
		}
	}
	.contact {
		margin: 0 0 20px;
		padding: 10px 20px;
		background: #f5f5f6;
		.phone,.email {
			position: relative;
			padding: 0 0 0 20px;
			&:before{
				.fi;
				position: absolute;
				left: 0;
				top: 3px;
				color: @green;
				font-size: 12px;
				line-height: 1;
			}
		}
		.phone {
			&:before{
				content: '\e812';
			}
		}
		.email {
			&:before{
				content: '\e813';
			}
		}
		.btn {
			padding: 0 30px;
		}
	}
	.gallery {
		li {
			width: 12.5%;
		}
	}
}
.mod_course-detail {
	.box_color;
	.box_color-green;
	.titlebox {
		&:before{
			content: '\e822';
			line-height: 1;
			padding-top: 4px;
		}
	}
	.main {
		.clearfix;
		margin: 0 -20px 30px;
		padding: 0 20px 7px;
		border-bottom: 1px solid #e6e6e6;
		figure {
			float: left;
			width: 33.3333%;
			margin: 3px 0;
			.user {
				margin: 15px 0;
				a,span {
					.border-radius(2px);
					.transition();
					position: relative;
					display: block;
					padding: 8px 10px 8px 40px;
					text-decoration: none;
					font-size: 11px;
					color: @cp;
					font-weight: 600;
					background: #f5f5f6;
					&:hover{
						background: darken(#f5f5f6,5%);
					}
					&:before{
						.fi;
						position: absolute;
						left: 20px;
						top: 9px;
						font-size: 12px;
						line-height: 1;
						content: '\e802';
						font-weight: normal;
						color: @green;
					}
				}
			}
		}
		.content {
			float: right;
			width: 63%;
			h1 {
				font-size: 20px;
				margin: 0 0 8px;
				color: @green;
			}
			.term {
				font-weight: 600;
				margin: 0 0 14px;
			}
			.attr {
				margin: 0 0 14px;
				[class^=icon-] {
					color: @green;
				}
			}
		}
	}
	h2 {
		.h3;
		margin: 0 0 5px;
		color: @green;
	}
	.gallery_content {
		margin: 0 -20px;
		padding: 20px;
		border-top: 1px solid #e6e6e6;
	}
	.member_items {
		margin: 0 -20px;
		padding: 20px;
		border-top: 1px solid #e6e6e6;
		h2 {
			margin: 0 0 20px;
		}
		ul {
			.rul;
			.clearfix;
			.scrollbar;
			margin: 0;
			height: inherit;
			max-height: 220px;
			overflow: auto;
			li {
				.rli;
				.clearfix;
				float: left;
				width: 50%;
				padding: 0 10px;
				margin: 0 0 25px;
				figure {
					width: 25%;
					float: left;
					padding: 0 20px 0 0;
					img {
						.border-radius(50%);
					}
				}
				.name {
					float: left;
					padding: 12px 0 0;
					width: 75%;
				}
			}
		}
	}
	.comments {
		margin: 0 -20px;
		padding: 20px;
		border-top: 1px solid #e6e6e6;
		h2 {
			margin: 0 0 20px;
		}
		.form {
			margin: 0 0 30px;
			input[type="submit"] {
				display: block;
				width: 100%;
				padding: 0;
			}
		}
		.items {
			.scrollbar;
			height: inherit;
			max-height: 220px;
			margin: 0;
			overflow: auto;
			.item {
				.clearfix;
				margin: 0 0 15px;
				figure {
					float: left;
					width: 12%;
					padding: 0 20px 0 0;
					img {
						.border-radius(50%);
					}
				}
				.name {
					float: left;
					width: 18%;
					font-size: 12px;
					padding: 5px 20px 0 0;
				}
				.content {
					float: left;
					width: 70%;
					font-size: 12px;
					padding: 10px;
					border: 1px solid @lightgrey;
					p {
						margin: 0;
					}
				}
			}
		}
	}
}
.box_sidebar-menu {
	.box_color;
	.box_color-green;
	padding: 12px 26px 30px;
	.titlebox {
		border-bottom: none;
		margin: 0 0 14px;
		padding: 0;
		font-size: 17px;
		&:before{
			display: none;
		}
	}
	ul {
		.rul;
		margin: 0 25px 0 -10px;
		li {
			.rli;
			margin: 0 0 8px 0;
			a {
				.border-radius(4px);
				.transition(0.2s);
				display: block;
				padding: 6px 10px;
				font-size: 15px;
				line-height: 1.2;
				text-decoration: none;
				color: @cp;
				background: #f5f5f6;
				&:hover{
					background: darken(#f5f5f6,5%);
				}
			}
			&.active {
				a {
					color: @green;
				}
			}
		}
	}
}
.mod_user_pay {
	.box_color;
	.box_color-green;
	.titlebox {
		text-align: left;
		margin-bottom: 10px;
		&:before{
			content: '\e844';
		}
	}
	h2 {
		color: @green;
		font-size: 20px;
	}
	.questions {
		margin: 25px 0 50px;
		h2 {
			color: @green;
			font-size: 17px;
			margin: 0 0 25px;
		}
		.q {
			font-size: 16px;
			margin: 0 0 15px;
		}
		.a {
			font-size: 12px;
			textarea {
				display: block;
				width: 60%;
				height: 80px;
			}
		}
	}
	.tables {
		margin: 0 -20px;
		padding: 14px 20px 20px;
		border-top: 1px solid @lightgrey;
		h2 {
			color: @green;
			font-size: 17px;
			margin: 0 0 25px;
		}
		.table {
			.box_color;
			.box_color-green;
			padding: 20px 25px;
			margin: 0 0 20px;
			background: #f9f9f9;
			table {
				margin: 0;
				tbody {
					tr {
						th,td {
							padding: 0 5px 4px 0;
							border: 0;
							background: none;
						}
						&.sum {
							th,td {
								padding-top: 10px;
							}
						}
					}
				}
			}
		}
		.sum {
			margin: 0 0 30px;
			tbody {
				tr {
					th,td {
						padding: 0;
						border: 0;
						color: @orange;
						font-size: 15px;
						line-height: 1;
						font-weight: bold;
					}
					th {
						padding-left: 25px;
					}
					td {
						padding-right: 25px;
					}
				}
			}
		}
	}
	.rules {
		float: left;
		width: 70%;
		padding: 0 10px 0 25px;
		label {
			font-size: 12px;
			font-weight: normal;
		}
	}
	.submit {
		float: left;
		width: 30%;
		text-align: right;
		padding: 0 0 0 10px;
		button,input[type="submit"] {
			.btn-orange;
			span {
				margin: 0 5px;
			}
		}
	}
	.cards {
		padding: 15px 20px 20px;
		.box {
			.box_color;
			.box_color-green;
			background: #f9f9f9;
			margin: 25px 12% 20px;
			.more {
				margin: 0;
			}
		}
	}
	.pay_methods {
		margin: 0 -20px;
		padding: 25px 40px 20px;
		border-top: 1px solid @lightgrey;
		.box {
			.box_color;
			.box_color-green;
			background: #f9f9f9;
			padding: 25px 60px;
			margin: 20px 12% 20px;
			table {
				tr {
					th,td {
						padding: 0 0 5px;
						border: 0;
						background: none;
					}
					th {
						padding-right: 10px;
					}
				}
			}
			.more {
				margin: 0;
			}
		}
	}
}
.mod_user_files {
	.box_color;
	.box_color-green;
	.titlebox {
		border-bottom: none;
		margin-bottom: 0;
		&:before{
			font-size: 15px;
			line-height: 1;
			padding-top: 2px;
			content: '\e835';
		}
	}
	.items {
		.clearfix;
		padding: 25px 20px 15px;
		margin: 0 -20px;
		border-top: 1px solid @lightgrey;
		h2 {
			font-size: 18px;
			font-weight: normal;
			margin: 0 0 30px;
			.date {
				display: inline-block;
				padding: 0 0 0 20px;
				font-size: 14px;
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.item {
			.clearfix;
			width: 50%;
			float: left;
			padding: 0 10px;
			margin: 0 0 30px;
			figure {
				float: left;
				width: 15%;
			}
			.content {
				width: 60%;
				float: left;
				padding: 0 0 0 15px;
				font-size: 12px;
			}
			.icon {
				float: left;
				width: 15%;
				font-size: 30px;
				line-height: 1;
				a {
					text-decoration: none;
				}
			}
			&.hide {
				display: none;
			}
		}
		.toggle {
			text-align: center;
			a {
				color: @grey;
				text-decoration: none;
				&:before{
					.fi;
					content: '\e847';
					font-size: 16px;
					line-height: 1;
				}
			}
		}
		&.on {
			.item {
				&.hide {
					display: block;
				}
			}
			.toggle {
				a {
					&:before{
						content: '\e848';
					}
				}
			}
		}
	}
}
.mod_user_faq {
	.box_color;
	.box_color-green;
	.titlebox {
		&:before{
			.fp;
			font-weight: bold;
			font-size: 16px;
			line-height: 1;
			padding-top: 2px;
			content: '?';
		}
	}
	.list {
		.rul;
		margin: 0 0 35px;
		li {
			.rli;
			margin: 0 0 3px;
		}
	}
	.items {
		.item {
			margin: 0 0 30px;
			h2 {
				font-size: 18px;
				color: @green;
				margin: 0;
				font-weight: normal;
			}
		}
	}
}
.mod_admin-user {
	.box_color;
	.box_color-green;
	.titlebox {
		&:before{
			line-height: 1;
			padding-top: 4px;
			content: '\e822';
		}
	}
	.image {
		float: left;
		width: 33.3333%;
		.edit {
			a {
				&:before{
					.fi;
					font-weight: normal;
					margin: 0 5px 0 0;
					content: '\e814';
				}
			}
		}
	}
	.content {
		float: right;
		width: 62%;
	}
	.edit {
		margin: 0 0 20px;
		text-align: right;
		a {
			.transition(0.2s);
			.border-radius(3px);
			display: inline-block;
			background: @gray;
			color: #fff;
			text-decoration: none;
			font-size: 10px;
			line-height: 1.8;
			font-weight: bold;
			padding: 0 7px;
			&:hover{
				background: lighten(@gray,5%);
			}
		}
	}
	.table-user {
		margin: 0 -10px 20px;
		table {
			th,td {
				border: 0;
			}
			thead {
				th,td {
					text-align: center;
					font-weight: normal;
					font-size: 11px;
					padding-top: 0;
					.headline {
						position: relative;
						display: block;
						font-weight: bold;
						overflow: hidden;
						span {
							position: relative;
							display: inline-block;
							&:before,&:after{
								position: absolute;
								content: '';
								left: 100%;
								top: 50%;
								width: 999em;
								margin: 0 0 0 7px;
								border-top: 1px solid #d0d0d0;
							}
							&:after{
								left: auto;
								right: 100%;
								margin: 0 7px 0 0;
							}
						}
					}
				}
			}
			tbody {
				tr {
					&:nth-child(odd) {
						th,td {
							background: #f5f5f6;
						}
					}
				}
			}
		}
		input[type=text],input[type=password],input[type=email],select{
			.box-shadow(none);
			.border-radius(0);
			border: 0;
			padding: 0 5px;
			margin: 5px 0;
			color: @green;
			border-bottom: 1px solid @green;		
			background: none;
			&:focus,&:hover{
				background: #eee;
			}
		}
		select {
			width: auto;
		}
	}
	.table-user_02 {
		margin: 0 20%;
		th,td {
			border: 0;

		}
		thead {
			th,td {
				font-size: 11px;
				font-weight: normal;
			}
		}
		tbody {
			th,td {
				background: #f5f5f6;
				border-top: 3px solid #fff;
				border-bottom: 3px solid #fff;
			}
			th {
				width: 40%;
				font-size: 12px;
			}
		}
	}
	.table-user_03 {
		margin: 0 -10px;
		th,td {
			border: 0;
		}
		tbody {
			th,td {
				font-size: 12px;
				background: #f5f5f6;
				border-top: 3px solid #fff;
				border-bottom: 3px solid #fff;
				.btn {
					font-size: 10px;
					line-height: 1;
					height: auto;
					padding: 4px 7px 3px;
					border: 0;
				}
				small {
					font-size: 80%;
				}
			}
		}
	}
	.submit {
		margin: 40px 0 0;
		text-align: center;
	}
}
.box_lektor-history {
	.box_color;
	.box_color-orange;
	padding-bottom: 0;
	border-top-color: @lightgrey;
	.titlebox {
		border-bottom: none;
		margin-bottom: 7px;
		&:before{
			content: '\e82d';
			font-size: 15px;
			line-height: 1;
			padding: 2px 0 0 1px;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			font-size: 12px;
			line-height: 18px;
			height: 28px;
			padding: 8px 0 0;
			margin: 0 0 7px;
			border-top: 1px solid @lightgrey;
			&:first-child {
				border-top: none;
			}
			&.green {
				a {
					color: @green;
				}
			}
			&.yellow {
				a {
					color: @yellow;
				}
			}
			&.orange {
				a {
					color: @orange;
				}
			}
			a {
				display: block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis; 
				color: @cp;
				text-decoration: none;
				&:hover h3 {
					text-decoration: underline;
				}
			}
			.date {
				display: inline-block;
				color: @cp;
				margin: 0 3px 0 0;
				min-width: 95px;
			}
			h3 {
				display: inline;
				font-size: 12px;
				margin: 0;
				font-weight: bold;
			}
		}
	}
}
.box_lector-calendar {
	.box_color;
	.box_color-orange;
	border-top-color: @lightgrey;
	.titlebox {
		border-bottom: none;
		margin-bottom: 15px;
		&:before{
			content: '\e806';
		}
	}
	a {
		color: @orange;
	}
}
.mod_lector-news-admin {
	.box_color;
	.box_color-orange;
	.titlebox {
		margin-bottom: 14px;
		&:before{
			line-height: 1;
			padding-top: 4px;
			content: '\e822';
		}
		.add {
			margin: 2px 0 0;
			float: right;
			font-size: 13px;
			text-transform: lowercase;
			a {
				.clearfix;
				display: inline-block;
				color: @grey;
				text-decoration: none;
				&:hover{
					&:before{
						background: @orange;
					}
				}
				&:before{
					.fi;
					.border-radius(50%);
					.transition(0.2s);
					float: left;
					content: '\e833';
					width: 26px;
					height: 26px;
					line-height: 26px;
					text-align: center;
					margin: -5px 7px 0 0;
					color: #fff;
					background: @lightgrey;
				}
			}
		}
	}
	.items {
		.item {
			.clearfix;
			margin: 0 -20px;
			padding: 14px 20px 0;
			border-top: 1px solid @lightgrey;
			&:nth-child(1) {
				border-top: none;
			}
			figure {
				float: left;
				width: 20%;
			}
			.content {
				float: left;
				padding: 0 20px;
				width: 60%;
				.meta {
					margin: 3px 0 7px;
					font-size: 11px;
				}
			}
			.buttons {
				float: left;
				width: 20%;
				a {
					.btn;
					.btn-green;
					display: block;
					padding: 0;
					margin: 0 0 10px;
					&.remove {
						.btn-orange;
					}
				}
			}
			h2 {
				color: @orange;
				font-size: 20px;
				margin: 0;
			}
		}
	}
	.date_switcher {
		margin: 0 20%;
		mark {
			color: @orange;
		}
		a.next,a.prev{
			&:before{
				color: @orange;
				border-color: @orange;
			}
			&:hover{
				&:before{
					color: darken(@orange,10%);
					border-color: darken(@orange,10%);
				}
			}
		}
	}
}
.mod_lector-addnew-admin {
	.box_color;
	.box_color-orange;
	.clearfix;
	min-height: 800px;
	.titlebox {
		margin-bottom:28px;
		&:before{
			line-height: 1;
			padding-top: 4px;
			content: '\e822';
		}
	}
	figure {
		float: left;
		width: 33.3333%;
		.edit {
			text-align: right;
			a {
				.btn;
				border: none;
				font-size: 10px;
				padding: 0 10px;
				height: 22px;
				line-height: 22px;
				&:before{
					.fi;
					float: left;
					content: '\e814';
					font-size: 12px;
					margin: 0 6px 0 0;
				}
			}
		}
	}
	.content {
		float: left;
		width: 66.6666%;
		padding: 0 0 0 10px;
		input.form_title {
			font-size: 20px;
			color: @orange;
			height: 34px;
			margin: 0 0 7px;
		}
		textarea {
			height: 140px;
			margin: 0 0 7px;
		}
		.date {
			.clearfix;
			margin: 0 0 7px;
			label {
				float: left;
				width: 55%;
				padding: 7px 10px 0 0;
				text-align: right;
				font-weight: normal;
			}
			input {
				position: relative;
				float: left;
				width: 45%;
				font-style: italic;
				font-size: 14px;
				padding-left: 26px;
				padding-right: 30px;
				margin: 0 -40px 0 0;
			}
			[class^="icon-calendar"] {
				position: relative;
				z-index: 1;
				float: left;
				line-height: 32px;
				width: 40px;
				font-size: 23px;
				text-align: center;
			}
		}
		.submit {
			text-align: right;
			margin: 20px 0;
			input {
				padding: 0 35px;
			}
		}
	}
}
.mod_lector-profile {
	.box_color;
	.box_color-orange;
	.clearfix;
	min-height: 800px;
	.titlebox {
		margin-bottom:28px;
		&:before{
			line-height: 1;
			padding-top: 4px;
			content: '\e802';
		}
	}
	figure {
		float: left;
		width: 33.3333%;
		.edit {
			text-align: right;
			a {
				.btn;
				border: none;
				font-size: 10px;
				padding: 0 10px;
				height: 22px;
				line-height: 22px;
				&:before{
					.fi;
					float: left;
					content: '\e814';
					font-size: 12px;
					margin: 0 6px 0 0;
				}
			}
		}
	}
	.content {
		float: left;
		width: 66.6666%;
		padding: 0 0 12px 30px;
		line-height: 1.6;
		h2 {
			font-size: 20px;
			margin-bottom: 18px;
		}
		h3 {
			font-weight: normal;
		}
		p {
			margin: 0 0 12px;
		}
		.edit {
			text-align: right;
			margin: 0 0 18px;
			a {
				.btn;
				height: 25px;
				line-height: 25px;
				font-size: 12px;
				padding: 0 10px;
				border-bottom: none;
			}
		}
	}
	.contact {
		.clearfix;
		clear: both;
		margin: 0 -20px;
		padding: 30px 20px;
		border-top: 1px solid @lightgrey;
		h3 {
			font-weight: normal;
			margin-bottom: 25px;
		}
		.col {
			padding: 0 10px;
			width: 50%;
			float: left;
		}
		.form-row {
			.clearfix;
			margin: 0 -5px;
			label {
				float: left;
				width: 25%;
				padding: 4px 0 4px 10px;
				font-weight: normal;
			}
			.input {
				float: left;
				width: 75%;
				padding: 0 10px;
			}
			.input-zip {
				float: left;
				width: 40%;
				padding: 0 5px 0 0;
			}
			.input-city {
				float: left;
				width: 60%;
			}
			input[type=text],input[type=password],input[type=email] {
				color: @orange;
				margin: 0 0 5px;
			}
		}
	}
	.profile_gallery {
		clear: both;
		margin: 0 -20px;
		padding: 30px 20px;
		border-top: 1px solid @lightgrey;
		h3 {
			font-weight: normal;
			margin-bottom: 15px;
		}
		.gallery {
			li {
				width: 12.73%;
				&.add {
					a {
						position: absolute;
						left: 5px;
						right: 5px;
						height: 60px;
						line-height: 60px;
						text-decoration: none;
						color: #fff;
						background: @orange;
						overflow: hidden;
						white-space: nowrap;
						&:hover{
							background: darken(@orange,10%);
						}
						&:before{
							.fi;
							display: inline-block;
							text-align: center;
							content: '\e837';
							width: 60px;
							font-size: 46px;
						}
					}
				}
				&.video {
					a {
						&:before{
							font-size: 40px;
						}
					}
				}
			}
		}
	}
	.share {
		clear: both;
		margin: 0 -20px;
		padding: 30px 20px;
		border-top: 1px solid @lightgrey;
		.iframe {
			margin: 0 0 20px;
			[data-toggle="modal"] {
				.btn;
				.btn-yellow;
				border-bottom: none;
				height: 25px;
				line-height: 25px;
				padding: 0 10px;
				font-size: 11px;
			}
			.info {
				&:before{
					.fi;
					position: relative;
					display: inline-block;
					top: 2px;
					content: '\e834';
					font-size: 20px;
					margin: -5px 0;
					color: @grey;
					cursor: default;
				}
			}
		}
	}
	.submit {
		text-align: center;
		input[type="submit"] {
			min-width: 110px;
		}
	}
}
.mod_lector-quote {
	.box_color;
	.box_color-orange;
	.titlebox {
		margin-bottom: 0;
		&:before{
			line-height: 1;
			padding-top: 4px;
			content: '\e810';
		}
		.add {
			margin: 2px 0 0;
			float: right;
			font-size: 13px;
			text-transform: lowercase;
			a {
				.clearfix;
				display: inline-block;
				color: @grey;
				text-decoration: none;
				&:hover{
					&:before{
						background: @orange;
					}
				}
				&:before{
					.fi;
					.border-radius(50%);
					.transition(0.2s);
					float: left;
					content: '\e833';
					width: 26px;
					height: 26px;
					line-height: 26px;
					text-align: center;
					margin: -5px 7px 0 0;
					color: #fff;
					background: @lightgrey;
				}
			}
		}
	}
	.item {
		.clearfix;
		margin: 0 -20px;
		padding: 30px 20px 50px;
		border-top: 1px solid @lightgrey;
		&:nth-child(1) {
			border-top: none;
		}
		.image {
			position: relative;
			float: left;
			width: 16%;
			text-align: right;
			&:before{
				.fi;
				.border-radius(50%);
				content: '\e810';
				position: absolute;
				z-index: 1;
				right: -10px;
				bottom: -10px;
				width: 30px;
				height: 30px;
				line-height: 30px;
				font-size: 15px;
				text-align: center;
				color: #fff;
				background: #a9a9a9;
			}
			&:after{
				position: absolute;
				bottom: 12px;
				right: 0;
				content: '';
				border: 6px solid transparent;
				border-left-width: 10px;
				border-left-color: #a9a9a9;
			}
			img {
				.border-radius(50%);
				display: block;
				margin: 0 0 0 auto;
			}
		}
		.content {
			float: left;
			width: 62%;
			padding: 0 0 0 20px;
			font-size: 14px;
			p {
				margin: 20px 0 0;
			}
			.author {
				color: @green;
				font-size: 12px;
				margin: 5px 0;
			}
		}
		.control {
			float: left;
			width: 22%;
			padding: 18px 0 0 20px;
			label {
				font-weight: normal;
				margin: 0 0 12px;
			}
			.remove {
				a {
					.btn;
					.btn-red;
					display: block;
				}
			}
		}
	}
}
.mod_lector-add-basic, .mod_lector-add-accommodation, .mod_lector-add-food, .mod_lector-add-options {
	.box_color;
	.box_color-orange;
	.clearfix;
	.titlebox {
		margin-bottom:28px;
		&:before{
			line-height: 1;
			padding-top: 4px;
			content: '\e822';
		}
	}
	.basic_info {
		.clearfix;
		margin: 0 0 30px;
		h2 {
			font-size: 20px;
			font-weight: normal;
			margin: 0 0 20px;
		}
		figure {
			float: left;
			width: 33.3333%;
			.edit {
				text-align: right;
				a {
					.btn;
					border: none;
					font-size: 10px;
					padding: 0 10px;
					height: 22px;
					line-height: 22px;
					&:before{
						.fi;
						float: left;
						content: '\e814';
						font-size: 12px;
						margin: 0 6px 0 0;
					}
				}
			}
		}
		.content {
			float: left;
			width: 66.6666%;
			padding: 0 0 0 30px;
			p {
				margin: 0 0 8px;
			}
			label {
				font-weight: normal;
				display: inline-block;
				padding: 0 10px 0 0;
			}
			input {
				width: 100px;
				color: @red;
			}
			.form_control {
				label {
					width: 130px;
				}
				input {
					width: 70px;
				}
			}
		}
	}
	.excerpt,.description {
		border-top: 1px solid #e6e6e6;
		margin: 0 -20px 15px;
		padding: 25px 20px;
		h2 {
			font-size: 20px;
			font-weight: normal;
			margin: 0 0 20px;
		}
		textarea {
			height: 90px;
			width: 66.6666%;
		}
	}
	.description {
		textarea {
			height: 150px;
			width: 100%;
		}
	}
	.content_gallery {
		border-top: 1px solid #e6e6e6;
		margin: 0 -20px 15px;
		padding: 25px 20px 5px;
		h2 {
			font-size: 20px;
			font-weight: normal;
			margin: 0 0 20px;
		}
		.gallery {
			li {
				width: 12.5%;
				&.add {
					a {
						position: absolute;
						left: 5px;
						right: 5px;
						height: 60px;
						line-height: 60px;
						text-decoration: none;
						color: #fff;
						background: @orange;
						overflow: hidden;
						white-space: nowrap;
						&:hover{
							background: darken(@orange,10%);
						}
						&:before{
							.fi;
							display: inline-block;
							text-align: center;
							content: '\e837';
							width: 60px;
							font-size: 46px;
						}
					}
				}
				&.video {
					a {
						&:before{
							font-size: 40px;
						}
					}
				}
			}
		}
	}
	.accommodation, .food {
		h2 {
			font-size: 20px;
			font-weight: normal;
			margin: 0 0 20px;
		}
		.form_row {
			.clearfix;
			margin: 0 -5px 10px;
			.form_row {
				margin-bottom: 0;
			}
			[class^="col-"] {
				padding: 0 5px;
			}
		}
		label {
			font-weight: normal;
			margin-top: 5px;
		}
		input[type="text"], input[type="email"], input[type="password"] {
			color: @orange;
		}
		textarea {
			height: 90px;
			margin: 0 0 20px;
		}
	}
	.options {
		h2 {
			font-size: 20px;
			font-weight: normal;
			margin: 0 0 20px;
		}
		h3 {
			font-size: 13px;
			font-weight: normal;
		}
		.media_items {
			.item {
				padding: 10px;
				margin: 0 0 10px;
				background: #f5f5f6;
				h4 {
					font-size: 13px;
					font-weight: bold;
					margin: 0 0 8px;
				}
				input {
					margin: 0 5px;
					padding: 0 5px;
					width: 40px;
					text-align: center;
					height: 18px;
					font-size: 12px;
					line-height: inherit;
					border: 1px solid @red;
					background: #fff;
				}
				.checker {
					margin: 0 0 0 5px;
				}
			}
		}
		.date {
			.clearfix;
			margin: 0 0 6px;
			label {
				font-weight: normal;
				width: 45%;
				float: left;
				padding: 0 10px 0 0;
				margin: 7px 0 0;
			}
			input {
				position: relative;
				width: 55%;
				float: left;
				color: @red;
				margin: 0 -32px 0 0;
			}
			.icon-calendar {
				position: relative;
				width: 32px;
				height: 32px;
				line-height: 32px;
				font-size: 22px;
				color: @grey;
				text-align: center;
			}
		}
		.advance_payment {
			margin: 10px 0;
			label {
				font-weight: normal;
			}
			.checker {
				margin: 0 0 0 5px;
			}
		}
		.inclusion {
			.clearfix;
			margin: 0 -10px 10px;
			padding: 10px 10px 0;
			background: #f5f5f6;
			h3 {
				float: left;
				width: 60%;
				padding: 0 10px 0 0;	
			}
			.content {
				float: left;
				width: 40%;
				label {
					position: relative;
					font-weight: normal;
					padding: 0 0 0 32px;
					margin: 0 0 10px;
					.radio {
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}
		}
		.age_restrictions {
			margin: 0 -10px 10px;
			padding: 5px 10px;
			background: #f5f5f6;
			input {
				margin: 0 5px;
				padding: 0 5px;
				width: 30px;
				text-align: center;
				height: 18px;
				font-size: 12px;
				line-height: inherit;
				border: 1px solid @red;
				background: #fff;
			}
		}
		.content_questions {
			.clearfix;
			position: relative;
			border-top: 1px solid #e6e6e6;
			margin: 50px -20px 15px;
			padding: 40px 20px;
			.item {
				.clearfix;
				margin: 0 -10px 10px;
				label {
					font-weight: normal;
					font-style: italic;
					margin: 6px 0;
				}
			}
			.add {
				margin: 25px 0;
				a {
					position: relative;
					display: inline-block;
					padding: 0 0 0 36px;
					text-decoration: none;
					color: @cp;
					&:hover{
						color: @orange;
						text-decoration: underline;
					}
					&:before{
						.fi;
						.border-radius(50%);
						content: '\e833';
						position: absolute;
						left: 0;
						top: -2px;
						width: 26px;
						height: 26px;
						line-height: 26px;
						font-size: 15px;
						text-align: center;
						color: #fff;
						background: @orange;
					}
				}
			}
		}
	}
	.submit {
		.clearfix;
		text-align: right;
		margin: 0 0 20px;
		.preview {
			float: left;
			.btn;
			.btn-yellow;
			padding: 0 10px;
		}
		input {
			min-width: 20%;
		}
	}
}
.mod_lector-add-file {
	.box_color;
	.box_color-orange;
	.clearfix;
	min-height: 800px;
	.titlebox {
		margin-bottom:28px;
		&:before{
			font-size: 14px;
			content: '\e835';
		}
	}
	h2 {
		font-size: 20px;
		font-weight: normal;
		margin: 0 0 20px;
	}
	.header {
		.clearfix;
		margin: 0 0 40px;
		.upload {
			float: left;
			a {
				.btn;
				.btn-green;
				padding: 0 30px;
			}
		}
		.capacity {
			float: right;
		}
	}
	.table {
		.box_color;
		.box_color-orange;
		padding: 0;
		border-left: 1px solid @lightgrey;
		border-right: 1px solid @lightgrey;
		table {
			margin: 0;
			thead {
				th,td {
					padding: 11px 4px;
					font-size: 12px;
					border-left: none;
					border-right: none;
					&:nth-child(1) {
						padding-left: 10px;
					}
				}
			}
			tbody {
				max-height: 200px;
				overflow: auto;
				tr:nth-child(even) {
					th,td {
						background: #f5f5f6;
					}
				}
				th,td {
					border-left: none;
					border-right: none;
					padding: 4px;
					font-size: 12px;
					&:nth-child(1) {
						padding-left: 10px;
					}
					img {
						max-width: 40px;
						max-height: 40px;
						display: block;
					}
					a {
						color: @cp;
					}
					.remove {
						display: inline-block;
						width: 30px;
						height: 30px;
						line-height: 30px;
						font-size: 22px;
						overflow: hidden;
						text-align: center;
						white-space: nowrap;
						color: @orange;
						text-decoration: none;
						&:hover{
							color: @cp;
						}
						&:before{
							.fi;
							content: '\e836';
							display: inline-block;
							width: 30px;
						}
					}
					.edit {
						display: inline-block;
						width: 30px;
						height: 30px;
						line-height: 30px;
						font-size: 18px;
						overflow: hidden;
						text-align: center;
						white-space: nowrap;
						color: @cp;
						text-decoration: none;
						&:hover{
							color: @green;
						}
						&:before{
							.fi;
							content: '\e815';
							display: inline-block;
							width: 30px;
						}
					}
					[class^="icon-"] {
						font-size: 28px;
					}
				}
			}
		}
	}
	.submit {
		text-align: right;
		.preview {
			float: left;
			.btn;
			.btn-yellow;
			padding: 0 10px;
		}
		input {
			min-width: 20%;
		}
	}
}
.mod_lector-courses {
	.box_color;
	.box_color-orange;
	.clearfix;
	min-height: 800px;
	.titlebox {
		margin-bottom:28px;
		&:before{
			font-size: 14px;
			content: '\e835';
		}
	}
	.add {
		margin: 2px 0 0;
		float: right;
		font-size: 13px;
		text-transform: lowercase;
		a {
			.clearfix;
			display: inline-block;
			color: @grey;
			text-decoration: none;
			&:hover{
				&:before{
					background: @orange;
				}
			}
			&:before{
				.fi;
				.border-radius(50%);
				.transition(0.2s);
				float: left;
				content: '\e833';
				width: 26px;
				height: 26px;
				line-height: 26px;
				text-align: center;
				margin: -5px 7px 0 0;
				color: #fff;
				background: @lightgrey;
			}
		}
	}
	.items {
		.item {
			.clearfix;
			position: relative;
			margin: 0 -20px 20px;
			padding: 0 20px 18px;
			border-bottom: 1px solid @lightgrey;
			.image {
				float: left;
				width: 18.52%;
			}
			.content {
				.clearfix;
				float: left;
				width: 81.48%;
				padding: 0 0 0 25px;
				h2 {
					color: @orange;
					font-size: 20px;
					margin: 0 0 5px;
					small {
						font-size: 16px;
					}
					a {
						text-decoration: none;
						color: @orange;
						border-bottom: 1px solid transparent;
						&:hover{
							border-color: @orange;
						}
					}
				}
				.table {
					width: 65%;
					float: left;
					table {
						margin: 0;
					}
					th,td {
						padding: 0 0 8px;
						border: none;
						font-weight: normal;
						vertical-align: top;
					}
					th {
						width: 45%;
					}
					td {
						padding-left: 10px;
					}
					.chart {
						.clearfix;
						.progress {
							.border-radius(5px);
							float: left;
							display: block;
							height: 14px;
							margin: 2px 0;
							border: 1px solid #fff;
							background: @lightgrey;
							&.green {
								background: @green;
							}
							&.orange {
								background: @orange;
							}
							&.blue {
								background: @lightblue;
							}
							&.green {
								background: @green;
							}
						}
					}
				}
			}
			.buttons {
				float: left;
				width: 35%;
				padding: 10px 0 0 35px;
				a {
					.btn;
					display: block;
					padding: 0;
					margin: 10px 0 0;
					&.admin {
						.btn-green;
					}
					&.more {
						.btn-yellow;
					}
				}
			}
		}
	}
	.date_switcher {
		margin: 0 20%;
		mark {
			color: @orange;
		}
		a.next,a.prev{
			&:before{
				color: @orange;
				border-color: @orange;
			}
			&:hover{
				&:before{
					color: darken(@orange,10%);
					border-color: darken(@orange,10%);
				}
			}
		}
	}
}

.mod_lector-courses-detail {
	.box_color;
	.box_color-orange;
	.clearfix;
	min-height: 800px;
	.titlebox {
		margin-bottom:28px;
		&:before{
			font-size: 14px;
			content: '\e835';
		}
	}
	.add {
		margin: 2px 0 0;
		float: right;
		font-size: 13px;
		text-transform: lowercase;
		a {
			.clearfix;
			display: inline-block;
			color: @grey;
			text-decoration: none;
			&:hover{
				&:before{
					background: @orange;
				}
			}
			&:before{
				.fi;
				.border-radius(50%);
				.transition(0.2s);
				float: left;
				content: '\e833';
				width: 26px;
				height: 26px;
				line-height: 26px;
				text-align: center;
				margin: -5px 7px 0 0;
				color: #fff;
				background: @lightgrey;
			}
		}
	}
	.main_content {
		.clearfix;
		margin: 0 0 26px;
		position: relative;
		figure {
			float: left;
			width: 33.3333%;
		}
		.content {
			float: left;
			width: 44%;
			padding: 0 0 0 35px;
			h2 {
				color: @orange;
				font-size: 20px;
				margin: 0 0 17px;
				small {
					font-size: 16px;
				}
			}
			table {
				th,td {
					padding: 17px 12px;
					font-weight: 600;
					font-size: 12px;
					border: 0;
					border-top: 2px solid #fff;
					background: #f5f5f6;
				}
			}
		}
		.buttons {
			position: absolute;
			bottom: 25px;
			right: 0;
			width: 20%;
			a {
				.btn;
				display: block;
				padding: 0;
				margin: 10px 0 0;
				height: 32px;
				line-height: 32px;
				&.admin {
					.btn-green;
				}
				&.more {
					.btn-yellow;
				}
			}
		}

	}
	.payment {
		.clearfix;
		position: relative;
		border-top: 1px solid #e6e6e6;
		margin: 0 -20px 15px;
		padding: 20px;
		h2 {
			font-size: 18px;
		}
		.content {
			position: relative;
			padding: 0 23% 0 15%;
			table {
				thead {
					th,td {
						border: 0;
					}
				}
				tbody {
					th,td {
						padding: 16px 10px;
						background: #f5f5f6;
						border-left: none;
						border-right: none;
						border-top: 2px solid #fff;
					}
					tr:first-child {
						th,td {
							border-top: 1px solid #e7e7e7;
						}
					}
				}
				tfoot {
					th,td {
						position: relative;
						border: 0;
						font-weight: bold;
						.button {
							.btn;
							.btn-orange;
							position: absolute;
							left: 100%;
							top: 0;
							margin: 0 0 0 20px;
						}
					}
				}
			}
			.buttons {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 23%;
				padding: 0 0 0 20px;
				.more {
					.btn;
					.btn-red;
					display: block;
				}
			}
		}
	}
	.category {
		border-top: 1px solid #e6e6e6;
		margin: 0 -20px 30px;
		padding: 20px;
		h2 {
			font-size: 18px;
			margin: 0 0 27px;
		}
		.content {
			padding: 0 23% 0 15%;
			table {
				thead {
					th,td {
						padding-top: 0;
						padding-bottom: 8px;
						border: none;
					}
				}
				tbody {
					th,td {
						padding-top: 15px;
						padding-bottom: 15px;
						border: 0;
						border-top: 2px solid #fff;
					}
				}
				.male {
					th,td {
						background: #c8d7ea;
					}
				}
				.female {
					th,td {
						background: #f3ccc3;
					}
				}
			}
		}
	}
	.members {
		border-top: 1px solid #e6e6e6;
		margin: 0 -20px 40px;
		padding: 20px;
		h2 {
			font-size: 18px;
		}
		ul.helper {
			.rul;
			float: right;
			margin: -38px 32% 0 0;
			padding: 2px 7px 2px 10px;
			border: 1px solid #bfbfbf;
			li {
				.rli;
				padding: 0 0 1px 18px;
				font-size: 12px;
				line-height: 1.2;
				&:before{
					.border-radius(50%);
					width: 5px;
					height: 5px;
					top: 5px;
				}
				&.green {
					&:before{
						background: @green;
					}
				}
				&.red {
					&:before{
						background: @orange;
					}
				}
				&.black {
					&:before{
						background: black;
					}
				}
			}
		}
		table {
			clear: both;
			width: auto;
			margin: 0 23% 30px 15%;
			thead {
				th,td {
					padding-bottom: 7px;
					border: none;
					.sort {
						display: inline-block;
						color: @cp;
						text-decoration: none;
					}
				}
			}
			tbody {
				th,td {
					padding: 7px 10px;
					background: #f5f5f6;
					border-left: none;
					border-right: none;
					border-top: 2px solid #fff;
					text-align: center;
					.status {
						.border-radius(50%);
						position: relative;
						display: inline-block;
						width: 18px;
						height: 18px;
						border: 4px solid #d0d0d0;
						background: #000;
						&.green {
							background: @green;
						}
						&.red {
							background: @orange;
						}
						&:before{
							.border-radius(50%);
							position: absolute;
							content: '';
							top: -1px;
							left: -1px;
							width: 12px;
							height: 12px;
							border: 3px solid #fff;
						}
					}
				}
				th {
					width: 50%;
					text-align: left;
				}
				.subrow {
					&>td {
						padding: 0 0 20px;
						background: #fff;
						table {
							width: 100%;
							margin: 0;
							tbody {
								th,td {
									padding: 5px 10px;
									vertical-align: top;
									font-size: 10px;
									text-align: left;
									background: #fff;
									border-top: 0;
									border-bottom: 1px solid #e6e6e6;
									&.date {
										white-space: nowrap;
									}
								}
								th {
									font-weight: normal;
									font-size: 11px;
								}
							}
						}
					}
				}
			}
			tfoot {
				th,td {
					border: none;
					.diameter {
						&:before{
							.fi;
							content: '\e841';
							margin: 0 3px 0 0;
						}
					}
				}
			}
		}
	}
	.back {
		text-align: center;
		margin: 50px 0 0;
		a {
			.btn;
			.btn-green;
			min-width: 100px;
		}
	}
}

.mod_lector-user-detail {
	.box_color;
	.box_color-orange;
	.clearfix;
	.titlebox {
		margin-bottom:28px;
		&:before{
			content: '\e802';
		}
	}
	.figure {
		float: left;
		width: 33.3333%;
		margin: 0 0 30px;
		ul {
			.rul;
			.clearfix;
			margin: 5px 0;
			li {
				.rli;
				float: left;
				a {
					.border-radius(6px);
					.transition(0.2s);
					white-space: nowrap;
					overflow: hidden;
					display: inline-block;
					text-decoration: none;
					line-height: 26px;
					height: 26px;
					margin: 0 10px 0 0;
					padding: 0 18px;
					color: #fff;
					text-align: center;
					font-size: 14px;
					background: @grey;
					&:hover{
						background: darken(@grey,10%);
					}
				}
				&.facebook {
					a {
						padding: 0;
						width: 26px;
						background: #5378bd;
						&:hover{
							background: darken(#5378bd,10%);
						}
						&:before{
							.fi;
							position: relative;
							top: 2px;
							left: 2px;
							font-size: 18px;
							width: 28px;
							content: '\e820';
							display: inline-block;
						}
					}
				}
			}
		}
	}
	.description {
		float: left;
		width: 66.6666%;
		line-height: 1.6;
		padding: 0 0 0 20px;
		margin: 0 0 30px;
		h2 {
			font-size: 21px;
			margin: 0 0 20px;
		}
	}
	.contacts {
		.rul;
		clear: both;
		padding: 14px 30px 4px;
		margin: 0 0 35px;
		background: #f5f5f6;
		li {
			.rli;
			padding: 0 0 0 26px;
			margin: 0 0 8px;
			&:before{
				.fi;
				color: @orange;
				font-size: 16px;
				line-height: 1;
			}
			&.phone {
				&:before{
					content: '\e812';
				}
			}
			&.email {
				&:before{
					content: '\e813';
				}
			}
			&.address {
				&:before{
					content: '\e803';
				}
			}
		}
	}
	.gallery {
		li {
			width: 12.5%;
			&.next {
				a {
					position: absolute;
					left: 5px;
					right: 5px;
					height: 60px;
					line-height: 60px;
					text-decoration: none;
					color: #fff;
					background: @orange;
					overflow: hidden;
					white-space: nowrap;
					&:hover{
						background: darken(@orange,10%);
					}
					&:before{
						.fi;
						display: inline-block;
						text-align: center;
						content: '\e830';
						width: 60px;
						font-size: 40px;
					}
				}
			}
			&.video {
				a {
					&:before{
						font-size: 40px;
					}
				}
			}
		}
	}
}

.mod_lector-courses {
	.box_color;
	.box_color-orange;
	.clearfix;
	min-height: 800px;
	.titlebox {
		margin-bottom:28px;
		&:before{
			font-size: 14px;
			content: '\e835';
		}
	}
	.add {
		margin: 2px 0 0;
		float: right;
		font-size: 13px;
		text-transform: lowercase;
		a {
			.clearfix;
			display: inline-block;
			color: @grey;
			text-decoration: none;
			&:hover{
				&:before{
					background: @orange;
				}
			}
			&:before{
				.fi;
				.border-radius(50%);
				.transition(0.2s);
				float: left;
				content: '\e833';
				width: 26px;
				height: 26px;
				line-height: 26px;
				text-align: center;
				margin: -5px 7px 0 0;
				color: #fff;
				background: @lightgrey;
			}
		}
	}
}

// video iframe
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: 0 0 20px;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
// gallery
.gallery {
	.rul;
	.clearfix;
	margin: 0 -5px 20px;
	li {
		.rli;
		float: left;
		width: 20%;
		padding: 5px;
		a {
			position: relative;
			display: block;
			&:hover{
				img {
					-webkit-opacity: 0.9;
					-moz-opacity: 0.9;
					opacity: 0.9;
					filter:alpha(opacity=90);
				}
			}
			img {
				display: block;
				position: relative;
			}
		}
		&.video {
			a {
				&:before{
					.fi;
					.border-radius(50%);
					content: '\e832';
					position: absolute;
					z-index: 1;
					top: 50%;
					left: 50%;
					width: 80px;
					height: 80px;
					line-height: 80px;
					margin: -40px 0 0 -40px;
					font-size: 50px;
					text-align: center;
					color: fade(#fff,80%);
					text-shadow: 0 0 20px fade(#000,30%);
				}
				&:hover{
					&:before{
						font-size: 60px;
					}
				}
			}
		}
	}
}
// modal
.modal {
	display: none;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #fff;
	background: rgba(0,0,0,0.8);
	&.in {
		display: block;
		.modal-in {
			top: 15%;
		}
	}
	.modal-in {
		.border-radius(6px);
		.transition(0.3s);
		position: absolute;
		left: 50%;
		top: -15%;
		width: 640px;
		margin-left: -320px;
		text-align: left;
		background: #fff;
		border-top: 3px solid @green;
		border-bottom: 3px solid #e3e4e8;
		&.modal-pay {
			border-top-color: @orange;
			.modal-header {
				.close {
					color: @orange;
				}
			}
		}
	}
	.modal-header {
		.clearfix;
		color: @green;
		font-size: 16px;
		line-height: 1.2;
		padding: 8px 20px 8px;
		border-bottom: 1px solid #e7e7e7;
		.icon {
			.border-radius(50%);
			display: inline-block;
			width: 24px;
			height: 24px;
			line-height: 20px;
			font-size: 13px;
			margin: 0 3px 0 0;
			text-align: center;
			border: 2px solid @green;
		}
		.close {
			float: right;
			font-size: 22px;
			line-height: 1;
			margin: 0 0 0 10px;
		}
	}
	.modal-body {
		padding: 20px;
	}
	.modal_share_input {
		margin: 0 0 10px;
	}
	.modal_share_buttons {
		a {
			.border-radius(50%);
			.transition(0.2s);
			display: inline-block;
			width: 32px;
			height: 32px;
			line-height: 32px;
			margin: 0 5px 0 0;
			text-align: center;
			font-size: 18px;
			color: #fff;
			text-decoration: none;
			background: @orange;
			&:hover{
				background: darken(@orange,10%);
			}
		}
	}
}
.modal-reset-carpool {
	textarea {
		height: 100px;
	}
	.credits {
		color: @red;
		margin: 20px 0;
		input {
			margin: 0 5px;
			width: 60px;
			background: #fff;
			height: 28px;
			padding: 0 0 0 10px;
			color: @red;
			border: 1px solid @red;
		}
	}
	.submit {
		text-align: right;
		margin: -20px 0 0;
	}
}
.login-modal-form {
	form {
		margin: 37px 0;
	}
	.form-group {
		.clearfix;
		margin: 0 0 20px 120px;
		label {
			float: left;
			width: 100px;
			padding: 10px 10px 0 0;
		}
		.control {
			float: left;
			width: 250px;
		}
	}
	.submit {
		margin: 37px 0 20px;
		text-align: center;
	}
}
.modal-change-password {
	.modal-body {
		padding: 20px 20%;
		.row {
			margin: 10px 0;
		}
	}
}
.modal-deactivate {
	.modal-body {
		padding: 20px 20%;
		.row {
			margin: 10px 0;
		}
	}
}
// footer
#page-footer {
	min-width: @content-width;
	position: relative;
	padding: 20px 0 10px;
	color: #f8f8f9;
	background: #808080;
	overflow: hidden;
	&:before{
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		left: 50%;
		top: 0;
		margin-left: 150px;
		background: fade(#000,10%);
	}
	.about {
		width: 65%;
		float: left;
		line-height: 1.6;
		.logo {
			margin: 0 0 30px;
			a {
				display: block;
				text-indent: -9999px;
				width: 244px;
				height: 61px;
				background: url(../images/logo/01.png) no-repeat;
				background-size: 100% 100%;
			}
		}
		.menu_footer {
			ul {
				.rul;
				margin: 35px 0 12px;
				li {
					.rli;
					display: inline-block;
					margin: 0 20px 0 0;
					a {
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.contact {
		width: 31%;
		float: right;
		padding: 30px 0 0;
		ul {
			.rul;
			li {
				.rli;
				font-size: 14px;
				padding: 11px 0 18px 55px;
				&:before{
					top: 0;
					left: 0;
					font-size: 38px;
					line-height: 1;
					color: @green;
				}
				&.address {
					&:before{
						content: '\e803';
					}
				}
				&.phone {
					&:before{
						content: '\e805';
					}
				}
				&.email {
					&:before{
						content: '\e804';
					}
				}
			}
		}
	}
	.copy {
		padding: 20px 0 0;
		font-size: 12px;
		border-top: 1px solid #9a9a9a;
		.inner {
			width: 65%;
		}
		a {
			color: #fff;
		}
	}
}


// forms
.radio {
	.border-radius(50%);
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 4px solid #d3d3d3;
	background: #fff;
	overflow: hidden;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	&.disabled {
		width: 4px;
		height: 4px;
		border-width: 7px;
		cursor: not-allowed;
		& * {
			cursor: not-allowed;
		}
	}
	.checked {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&:before{
			.border-radius(50%);
			position: absolute;
			content: '';
			left: 50%;
			top: 50%;
			width: 6px;
			height: 6px;
			margin: -3px 0 0 -3px;
			background: @orange;
		}
	}
	input {
		position: absolute;
		left: -4px;
		top: -4px;
		margin: 0;
		padding: 0;
		width: 30px;
		height: 30px;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
}
.checker {
	display: inline-block;
	span {
		.border-radius(4px);
		position: relative;
		display: inline-block;
		border: 2px solid #bbb;
		margin: -6px 0;
		width: 18px;
		height: 18px;
		line-height: 14px;
		font-size: 8px;
		color: @green;
		text-align: center;
		overflow: hidden;
		background: #fff;
		&.checked {
			&:before{
				.fi;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				content: '\e800';
			}
		}
	}
	&.disabled {
		cursor: not-allowed;
		span {
			color: #d3d3d3;
			background: #eee;
		}
		& * {
			cursor: not-allowed;
		}
	}
	input {
		position: absolute;
		left: -4px;
		top: -4px;
		margin: 0;
		padding: 0;
		width: 30px;
		height: 30px;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
}



// bootstrap tooltip
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	visibility: visible;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
}
.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
}
.tooltip.top {
	margin-top: -3px;
	padding: 5px 0;
}
.tooltip.right {
	margin-left: 3px;
	padding: 0 5px;
}
.tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0;
}
.tooltip.left {
	margin-left: -3px;
	padding: 0 5px;
}
.tooltip-inner {
	max-width: 200px;
	padding: 5px 10px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: @cp;
	border-radius: 4px;
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: @cp;
}
.tooltip.top-left .tooltip-arrow {
	bottom: 0;
	right: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: @cp;
}
.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: @cp;
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: @cp;
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: @cp;
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: @cp;
}
.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: @cp;
}
.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: @cp;
}


// bootstrap popover
.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1060;
	display: none;
	max-width: 276px;
	padding: 1px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: left;
	background-color: #ffffff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	white-space: normal;
}
.popover.top {
	margin-top: -10px;
}
.popover.right {
	margin-left: 10px;
}
.popover.bottom {
	margin-top: 10px;
}
.popover.left {
	margin-left: -10px;
}
.popover-title {
	margin: 0;
	padding: 8px 14px;
	font-size: 14px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}
.popover-content {
	padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.popover > .arrow {
	border-width: 11px;
}
.popover > .arrow:after {
	border-width: 10px;
	content: "";
}
.popover.top > .arrow {
	left: 50%;
	margin-left: -11px;
	border-bottom-width: 0;
	border-top-color: #999999;
	border-top-color: rgba(0, 0, 0, 0.25);
	bottom: -11px;
}
.popover.top > .arrow:after {
	content: " ";
	bottom: 1px;
	margin-left: -10px;
	border-bottom-width: 0;
	border-top-color: #ffffff;
}
.popover.right > .arrow {
	top: 50%;
	left: -11px;
	margin-top: -11px;
	border-left-width: 0;
	border-right-color: #999999;
	border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right > .arrow:after {
	content: " ";
	left: 1px;
	bottom: -10px;
	border-left-width: 0;
	border-right-color: #ffffff;
}
.popover.bottom > .arrow {
	left: 50%;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: #999999;
	border-bottom-color: rgba(0, 0, 0, 0.25);
	top: -11px;
}
.popover.bottom > .arrow:after {
	content: " ";
	top: 1px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: #ffffff;
}
.popover.left > .arrow {
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-right-width: 0;
	border-left-color: #999999;
	border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
	content: " ";
	right: 1px;
	border-right-width: 0;
	border-left-color: #ffffff;
	bottom: -10px;
}




/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	//background-image: url(fancybox_sprite.png);
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url(../images/bg/ajax-loader.gif) center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -10px;
	left: 100%;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #000;
	cursor: pointer;
	z-index: 8040;
	font-size: 50px;
	line-height: 1;
	font-weight: bold;
	text-decoration: none;
	&:before{
		content: '\00d7';
	}
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url(blank.gif); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 80px;
	height: 80px;
	margin-top: -40px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 12px fade(#000,50%);
}

.fancybox-prev span {
	left: 10px;
	&:before{
		.fi;
		font-size: 60px;
		content: '\e81c';
	}
}

.fancybox-next span {
	right: 10px;
	&:before{
		.fi;
		font-size: 60px;
		content: '\e81d';
	}
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: fade(#fff,80%);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}



// datepicke
.ui-datepicker {
	padding: 10px;
	background: #fff;
	border: 1px solid @lightgrey;
	&.ui-datepicker-inline {
		border: none;
		padding: 0;
		background: transparent;
	}
	.ui-datepicker-header {
		position: relative;
		padding: 0 40px 0 0;
		.ui-datepicker-prev,.ui-datepicker-next {
			.border-radius(50%);
			position: absolute;
			right: 30px;
			top: 0;
			width: 25px;
			height: 25px;
			line-height: 21px;
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			text-decoration: none;
			color: darken(@lightgrey,15%);
			font-size: 26px;
			border: 2px solid darken(@lightgrey,15%);
			&:hover{
				color: darken(@lightgrey,25%);
				border: 2px solid darken(@lightgrey,25%);
			}
			&:before{
				.fi;
				padding: 0 2px 0 0;
				display: inline-block;
				width: 18px;
				content: '\e82a';
			}
		}
		.ui-datepicker-next {
			right: 0;
			&:before{
				padding: 0 0 0 5px;
				content: '\e829';
			}
		}
		.ui-datepicker-title {
			font-size: 16px;
			padding: 7px 50px 0 0;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	.ui-datepicker-calendar {
		margin: 0;
		text-align: center;
		th,td {
			padding: 0;
			border: 0;
			span,a {
				display: block;
				padding: 2px 0 1px;
				font-size: 14px;
			}
		}
		thead {
			th,td {
				span,a {
					font-size: 14px;
					padding-top: 2px;
				}
			}
		}
	}
}