@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {
	@content-width: 740px;
	.container {
		width: @content-width;
	}
	.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-sidebar,.col-main{
		width: 100%;
		float: none;
	}
	.pull-left,.pull-right {
		float: none!important;
	}
	#page-header-home {
		.login {
			clear: both;
			float: none;
			text-align: right;
		}
	}
	#page-header {
		.logo {
			margin-left: 165px;
		}
	}
	#submenu {
		.user {
			float: none;
			border-bottom: 1px solid #e7e7e7;
		}
	}
	#page-bg-home {
		.item {
			.content {
				font-size: 32px;
			}
		}
	}
	.mod_team {
		.items {
			.item {
				width: 40%;
			}
		}
	}
	.mod_course-detail {
		.main {
			figure {
				width: 27.4%;
			}
			.content {
				width: 68%;
			}
		}
	}
	#page-footer {
		min-width: @content-width;
		&:before{
			display: none;
		}
		.about {
			width: 100%;
			float: none;
		}
		.contact {
			float: none;
			width: 100%;
			margin: 50px 0;
		}
	}
	.modal {
		.modal-in {
			width: @content-width;
			margin-left: -@content-width/2;
		}
	}
}
@media (max-width: 767px) {
	@content-width: 100%;
	.container {
		width: @content-width;
	}
	.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-sidebar,.col-main{
		width: 100%;
		float: none;
	}
	.pull-left,.pull-right {
		float: none!important;
	}
	#page-header-home {
		.login {
			clear: both;
			float: none;
			.user,.pass {
				display: block;
				margin: 0 0 10px;
				input {
					width: 100%;
				}
			}
			.pass {
				&:before{
					content: '\e801';
				}
			}
			.submit {
				float: left;
				margin: 0;
			}
			.register {
				float: right;
				p {
					margin: 0;
				}
				a {
					font-weight: bold;
				}
			}
		}
	}
	#page-header {
		.logo {
			text-align: center;
			margin-left: 0;
			float: none;
			a {
				display: inline-block;
			}
		}
	}
	#submenu {
		.user {
			float: none;
			text-align: right;
			border-bottom: 1px solid #e7e7e7;
			img {
				display: none;
			}
		}
	}
	#page-bg-home {
		display: none;
	}
	.mod_team {
		.items {
			.item {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	.mod_contacts {
		.item {
			padding-left: 0;
			padding-right: 0;
			.media,.lang {
				float: none;
				margin-bottom: 10px;
			}
		}
	}
	.mod_courses {
		.item {
			.image {
				float: none;
				width: 100%;
				img {
					display: block;
					margin: 0 0 19px;
				}
			}
			.content {
				float: none;
				width: 100%;
				.share {
					display: none;
				}
				.buttons {
					a,a.login,a.file {
						display: block;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
	.box_news, .box_info {
		.more {
			a {
				display: block;
			}
		}
	}
	.mod_tastimonial {
		.image {
			width: auto;
			text-align: left;
			img {
				margin: 0;
			}
		}
		.content {
			padding-top: 10px;
			clear: both;
			float: none;
			width: 100%;
		}
	}
	.mod_course-detail {
		.main {
			figure {
				float: none;
				width: 100%;
			}
			.content {
				float: none;
				width: 100%;
			}
		}
	}
	.mod_admin-user {
		.image {
			float: none;
			width: 100%;
		}
		.content {
			float: none;
			width: 100%;
		}
		.table-user_02 {
			margin: 0;
		}
	}
	.mod_credit_transfer {
		min-height: 0;
		.credits {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.mod_lector-news-admin {
		.items {
			.item {
				figure {
					float: none;
					width: 100%;
				}
				.content {
					float: none;
					padding: 0;
					width: 100%;
					.meta {
						margin: 3px 0 7px;
						font-size: 11px;
					}
				}
				.buttons {
					float: none;
					width: 100%;
				}
			}
		}
	}
	.gallery {
		li {
			width: 100%;
		}
	}
	#page-footer {
		min-width: @content-width;
		&:before{
			display: none;
		}
		.about {
			width: 100%;
			float: none;
		}
		.contact {
			float: none;
			width: 100%;
			margin: 50px 0;
		}
	}
	.modal {
		&.in {
			.modal-in {
				top: 20px;
			}
		}
		.modal-in {
			width: 90%;
			left: 5%;
			margin-left: 0;
		}
	}
}