html,body,button,input,select,textarea{
	.fp;
}
body{
	font-size: @fsp;
	line-height: @lhp;
	text-align: center;
	font-weight: normal;
	color: @cp;
	background: @bb;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 10px;
	line-height: @lhh;
	font-weight: 600;
}
h1,.h1{
	.fh;
	font-size: @fsh1;
	line-height: @lh1;
}
h2,.h2{
	.fh;
	font-size: @fsh2;
}
h3,.h3{
	.fh;
	font-size: @fsh3;
}
h4,.h4{
	font-size: @fsh4;
}
h5,.h5{
	font-size: @fsh5;
}
h6,.h6{
	font-size: @fsh6;
}
p{
	margin: 0 0 20px;
}
.lead {
	font-size: 18px;
}
ul,ol{
	padding: 0;
	margin: 0 0 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
	margin-top: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 16px;
	margin: 0;
	&:before{
		.fi;
		position: absolute;
		top: 2px;
		left: 0;
		line-height: 1;
		content: '\203a';
	}
	&>ul{
		padding:10px 0;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin:0 0 0 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
hr{
	margin: 30px 0;
	border: 0;
	border-top: 1px solid #e7e7e7;
	.container & {
		margin: 0 0 20px;
	}
}
strong,b{
	font-weight: bold;
}
em,i{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align: baseline;
	font-size: 60%;
	line-height: 1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	color: @cl;
	cursor: pointer;
	&:hover{
		text-decoration:none;
	}
}
table {
	width: 100%;
	margin: 0 0 20px;
	th,td {
		padding: 10px 12px;
		border: 1px solid #e7e7e7;
		border-left-style: dotted; 
		border-right-style: dotted; 
		background: #fff;
	}
	th,thead td {
		font-weight: bold;
	}
}
.align-left	{
	float: left;
	img& {
		margin: 0 20px 10px 0;
	}
}
.align-right	{
	float: right;
	img& {
		margin: 0 0 10px 20px;
	}
}