@font-face {
  font-family: 'klubduch-icons';
  src: url('../font/klubduch-icons.eot?99162964');
  src: url('../font/klubduch-icons.eot?99162964#iefix') format('embedded-opentype'),
       url('../font/klubduch-icons.woff?99162964') format('woff'),
       url('../font/klubduch-icons.ttf?99162964') format('truetype'),
       url('../font/klubduch-icons.svg?99162964#klubduch-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'klubduch-icons';
    src: url('../font/klubduch-icons.svg?99162964#klubduch-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "klubduch-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-check:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-location-circled:before { content: '\e803'; } /* '' */
.icon-mail-circled:before { content: '\e804'; } /* '' */
.icon-phone-circled:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-star-empty:before { content: '\e808'; } /* '' */
.icon-star-half:before { content: '\e809'; } /* '' */
.icon-star-half-alt:before { content: '\e80a'; } /* '' */
.icon-ext-link:before { content: '\e80b'; } /* '' */
.icon-left:before { content: '\e80c'; } /* '' */
.icon-right:before { content: '\e80d'; } /* '' */
.icon-up:before { content: '\e80e'; } /* '' */
.icon-down:before { content: '\e80f'; } /* '' */
.icon-quote-right:before { content: '\e810'; } /* '' */
.icon-quote-left:before { content: '\e811'; } /* '' */
.icon-phone:before { content: '\e812'; } /* '' */
.icon-mail:before { content: '\e813'; } /* '' */
.icon-camera:before { content: '\e814'; } /* '' */
.icon-pencil:before { content: '\e815'; } /* '' */
.icon-facebook-rect:before { content: '\e816'; } /* '' */
.icon-twitter-bird:before { content: '\e817'; } /* '' */
.icon-googleplus-rect:before { content: '\e818'; } /* '' */
.icon-linkedin-rect:before { content: '\e819'; } /* '' */
.icon-skype:before { content: '\e81a'; } /* '' */
.icon-down-open:before { content: '\e81b'; } /* '' */
.icon-left-open:before { content: '\e81c'; } /* '' */
.icon-right-open:before { content: '\e81d'; } /* '' */
.icon-up-open:before { content: '\e81e'; } /* '' */
.icon-comment:before { content: '\e81f'; } /* '' */
.icon-facebook:before { content: '\e820'; } /* '' */
.icon-info:before { content: '\e821'; } /* '' */
.icon-blog:before { content: '\e822'; } /* '' */
.icon-twitter:before { content: '\e823'; } /* '' */
.icon-gplus:before { content: '\e824'; } /* '' */
.icon-pin:before { content: '\e825'; } /* '' */
.icon-arr-left:before { content: '\e826'; } /* '' */
.icon-arr-right:before { content: '\e827'; } /* '' */
.icon-carpool:before { content: '\e828'; } /* '' */
.icon-right-dir:before { content: '\e829'; } /* '' */
.icon-left-dir:before { content: '\e82a'; } /* '' */
.icon-up-dir:before { content: '\e82b'; } /* '' */
.icon-down-dir:before { content: '\e82c'; } /* '' */
.icon-clock:before { content: '\e82d'; } /* '' */
.icon-down-open-big:before { content: '\e82e'; } /* '' */
.icon-left-open-big:before { content: '\e82f'; } /* '' */
.icon-right-open-big:before { content: '\e830'; } /* '' */
.icon-up-open-big:before { content: '\e831'; } /* '' */
.icon-play-circled2:before { content: '\e832'; } /* '' */
.icon-plus:before { content: '\e833'; } /* '' */
.icon-info-circled:before { content: '\e834'; } /* '' */
.icon-doc:before { content: '\e835'; } /* '' */
.icon-remove:before { content: '\e836'; } /* '' */
.icon-plus-light:before { content: '\e837'; } /* '' */
.icon-file-word:before { content: '\e838'; } /* '' */
.icon-file-pdf:before { content: '\e839'; } /* '' */
.icon-file-excel:before { content: '\e83a'; } /* '' */
.icon-file-powerpoint:before { content: '\e83b'; } /* '' */
.icon-file-image:before { content: '\e83c'; } /* '' */
.icon-file-archive:before { content: '\e83d'; } /* '' */
.icon-file-audio:before { content: '\e83e'; } /* '' */
.icon-file-video:before { content: '\e83f'; } /* '' */
.icon-file-code:before { content: '\e840'; } /* '' */
.icon-diameter:before { content: '\e841'; } /* '' */
.icon-house:before { content: '\e842'; } /* '' */
.icon-food:before { content: '\e843'; } /* '' */
.icon-wallet:before { content: '\e844'; } /* '' */
.icon-play:before { content: '\e845'; } /* '' */
.icon-download:before { content: '\e846'; } /* '' */
.icon-arr-down:before { content: '\e847'; } /* '' */
.icon-arr-up:before { content: '\e848'; } /* '' */